{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

 {%  set base_url = render_var(url('<front>'))  %}
<div class="breadcrumb meeting-breadcrumb">
   <ol class="tw-flex tw-flex-wrap tw-my-8">
     <li class="flex items-center cap"><a href="{{ base_url }}calendar">Calendar</a><span class="seprater"></span></li>
     <li class="flex items-center cap">Meeting Page</li>
   </ol>
</div>
 
 {% set bytes = file_url(node.field_materials.entity.filesize.value)|split('/')|last %}
 {% set pdf_filename = node.field_materials.entity.filename.value %}
 {% set pdf_uri = file_url(node.field_materials.entity.uri.value) %}

	{% set kilobyte = 1024 %}
	{% set megabyte = kilobyte * 1024 %}
	{% set gigabyte = megabyte * 1024 %}
	{% set terabyte = gigabyte * 1024 %}

	{% set file_size = '' %}
	{% if bytes < kilobyte %}
	   {% set file_size = bytes ~ ' B' %}
	{% elseif bytes < megabyte %}
	   {% set file_size = (bytes / kilobyte)|number_format(2, '.') ~ ' kb' %}
	{% elseif bytes < gigabyte %}
	   {% set file_size = (bytes / megabyte)|number_format(2, '.') ~ ' mb' %}
	{% elseif bytes < terabyte %}
	   {% set file_size = (bytes / gigabyte)|number_format(2, '.') ~ ' gb' %}
	{% else %}
	   {% set file_size = (bytes / terabyte)|number_format(2, '.') ~ ' tb' %}
	{% endif %}


<div class='meeting-node-wrapper tw-flex'>
   {% if node.field_status.value == 'Upcoming' %}
  <div class='tw-flex tw-overflow-hidden tw-flex-col tw-w-20 md:tw-w-40 lg:tw-w-48 tw-bg-blue-800 md:tw-bg-transparent md:tw-border md:tw-border-gray-300 tw-text-center tw-rounded-md md:tw-rounded-lg'>
 {% elseif node.field_status.value == 'Completed' %}
  <div class='tw-flex tw-overflow-hidden tw-flex-col tw-w-20 md:tw-w-40 lg:tw-w-48 tw-bg-teal-800 md:tw-bg-transparent md:tw-border md:tw-border-gray-300 tw-text-center tw-rounded-md md:tw-rounded-lg'>
 {% endif %}
    <div class='tw-mt-2 md:tw-pt-2 tw-pb-2px tw-font-medium tw-text-12px md:tw-text-2xl tw-leading-none tw-text-blue-100 md:tw-text-gray-500 day'> {{ node.field_date_start_time.value|date('l', false) }} </div>
    <div class='tw-my-auto tw-pt-1 tw-pb-2 md:tw-pt-3 md:tw-pb-5 tw-font-normal md:tw-font-bold tw-text-2xl md:tw-text-5xl tw-leading-none tw-text-white md:tw-text-gray-800'> {{ node.field_date_start_time.value|date('d', false) }} </div>
   {% if node.field_status.value == 'Upcoming' %}
      <div class='tw-flex tw-justify-center tw-items-center tw-h-6 md:tw-h-auto md:tw--m-px md:tw-py-3 tw-pb-2px tw-font-bold tw-text-12px md:tw-text-xs md:tw-tracking-widest tw-leading-none tw-text-white tw-uppercase tw-bg-blue-500 tw-rounded-b-md md:tw-rounded-b-lg meeting-month'> 
        {{ node.field_date_start_time.value|date('F', false) }} 
      </div>
    {% elseif node.field_status.value == 'Completed' %}
      <div class='tw-flex tw-justify-center tw-items-center tw-h-6 md:tw-h-auto md:tw--m-px md:tw-py-3 tw-pb-2px tw-font-bold tw-text-12px md:tw-text-xs md:tw-tracking-widest tw-leading-none tw-text-white tw-uppercase tw-bg-teal-500 tw-rounded-b-md md:tw-rounded-b-lg meeting-month'> 
        {{ node.field_date_start_time.value|date('F', false) }} 
      </div>
    {% endif %}
  </div>
  <div class='tw-flex-1 tw-self-center tw-ml-5 md:tw-ml-8'>
    <div class='tw-flex'>
        {% if node.field_status.value == 'Upcoming' %}
            <div class='tw-mr-4 tw-px-3 tw-py-1 tw-font-bold tw-text-10px tw-leading-normal tw-tracking-widest tw-uppercase tw-text-white tw-rounded-full tw-bg-blue-500'>
              <span>{{node.field_status.value}}</span>
            </div>
          {% elseif node.field_status.value == 'Completed' %}
            <div class='tw-mr-4 tw-px-3 tw-py-1 tw-font-bold tw-text-10px tw-leading-normal tw-tracking-widest tw-uppercase tw-text-white tw-rounded-full tw-bg-teal-500'>
              <span>{{node.field_status.value}}</span>
            </div>
        {% endif %}
        <div class='tw-flex tw-items-center tw-font-medium tw-text-13px sm:tw-text-base tw-leading-none tw-text-gray-600'>
          <i class="far fa-clock tw-mr-2"></i> 
          <span class='cap'>
            <span class='tw-hidden md:tw-inline'>STARTS: </span>{{node.field__start_time.value|date('h:i A', false)}}</span>
        </div>
      </div>
        <h2 class='tw-mt-2 md:tw-mt-3 tw--mb-1 md:tw-mb-0 tw-font-bold tw-text-xl tw-leading-snug md:tw-text-2xl meeting-node-title'>{{node.title.value}}</h2>
        <div class='tw-hidden md:tw-block tw-mt-2 tw--mb-1 tw-text-sm md:tw-text-base tw-text-gray-600'>{{node.body.value|raw}}</div>
    </div>
  </div>
<div class='meeting-body-data md:tw-hidden tw-mt-5 tw-text-sm md:tw-text-base tw-text-gray-600'>{{node.body.value|raw}}</div>
<hr class="tw-h-2px tw-mt-10 md:tw-mt-16 tw-bg-gray-300 tw-border">
{% if node.field_materials is not empty %}
  <div class='material-section'>
    <div id='related-page-section' class='material-section-title'>
      <h4 class="section-title">Materials Available To VIEW/Print</h4>
    </div>
  <div class='tw-flex tw-mt-3 tw-border tw-border-gray-300 tw-rounded-lg tw-overflow-hidden'>
    <div class='tw-flex-1 tw-flex tw-items-center tw-p-4 file'><a href="{{ pdf_uri }}" target="_blank">{{ pdf_filename }} </a> <span class="md:tw-hidden tw-text-gray-500 tw-underline"> &nbsp;&nbsp;({{file_size}})</span></div>
      <div class='tw-hidden md:tw-flex tw-items-center tw-w-48 tw-ml-auto tw-bg-gray-100 tw-rounded-r-md'>
        <div class='tw-mx-5'>
          <div class='tw-font-bold tw-text-10px tw-uppercase tw-tracking-widest tw-text-gray-500'>Size</div>
          <div class='tw-font-bold tw-text-sm tw-text-gray-700'>{{file_size}}</div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="tw-flex tw-flex-col md:tw-flex-row tw-justify-center tw-items-center tw-text-gray-400 tw-pt-5 md:tw-pt-10">
    <div class="no-meeting-image"></div>
    <p class="tw-font-medium tw-text-xl tw-leading-snug md:tw-text-2xl tw-text-center">Details of the meeting will appear&nbsp;here</p>
  </div>
{% endif %}
  {% if node.field_status.value == 'Upcoming' %}
  <div class='material-section video-audio-section'>
    <div id='related-page-section' class='material-section-title'>
      <h4 class="section-title">VIDEO/AUDIO MATERIALS</h4>
    </div>
    <p class='tw-text-sm md:tw-text-base tw-text-gray-600 tw-my-5' >To watch a video stream of this meeting, click on the link below:</p>
  <div class='tw-flex tw-mt-3  tw-overflow-hidden'>
    <div class='tw-flex-1 tw-flex tw-items-center tw-p-4 video-link-section'><a href="http://lausd.granicus.com/MediaPlayer.php?publish_id=18" target="_blank" class='tw-link tw-link-blue'><span class="stream-icon">View Live Stream</span></a></div>
    </div>
  </div>
  {% elseif node.field_status.value == 'Completed' %}
    {% if node.field_view_live_stream is not empty %}
      <div class='material-section video-audio-section'>
        <div id='related-page-section' class='material-section-title'>
          <h4 class="section-title">VIDEO/AUDIO MATERIALS</h4>
        </div>
        <p class='tw-text-sm md:tw-text-base tw-text-gray-600 tw-my-5' >To watch a video stream of this meeting, click on the link below:</p>
      <div class='tw-flex tw-mt-3  tw-overflow-hidden'>
        <div class='tw-flex-1 tw-flex tw-items-center tw-p-4 video-link-section'><a href="{{ node.field_view_live_stream.value.0['uri'] }}" target="_blank" class='tw-link tw-link-blue'><span class="stream-icon">View Live Stream</span></a></div>
        </div>
      </div>
     {% else %}
      <div class='material-section video-audio-section'>
        <div id='related-page-section' class='material-section-title'>
          <h4 class="section-title">VIDEO/AUDIO MATERIALS</h4>
        </div>
        <p class='tw-text-sm md:tw-text-base tw-text-gray-600 tw-my-5' >To watch a video stream of this meeting, click on the link below:</p>
      <div class='tw-flex tw-mt-3  tw-overflow-hidden'>
        <div class='tw-flex-1 tw-flex tw-items-center tw-p-4 video-link-section'><a href="http://lausd.granicus.com/MediaPlayer.php?publish_id=18" target="_blank" class='tw-link tw-link-blue'><span class="stream-icon">View Live Stream</span></a></div>
        </div>
      </div>
    {% endif %}
{% endif %}


<div id='nextprev-navigation'>
  {{ content.prevnext_previous }}
    <div id='month-meeting' class='prevnext-element'>
      <a href='/calendar'>Return to {{ node.field_date_start_time.value|date('F', false) }} {{ node.field_date_start_time.value|date('Y', false) }} Meetings</a>
    </div>
  {{ content.prevnext_next }}
</div>
</div>