{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{%  set base_url = render_var(url('<front>'))  %}
<div class="breadcrumb library-breadcrumb">
   <ol class="tw-flex tw-flex-wrap tw-my-8">
     <li class="flex items-center cap"><a href="{{ base_url }}document-library">Document Library</a><span class="seprater"></span></li>
     <li class="flex items-center cap">Independent Analysis Unit</li>
   </ol>
</div>

<div class="wrapper-document-library-page-node">
    <div class="document-library-title-area">
      <h2 class="document-library-board-title">{{node.label}}</h2>
      <div class="document-library-title-right">{{node.field_body.value|raw}}</div>
    </div>

    <div class="heading">{{ drupal_view('document_library', 'block_1') }}</div>

    {% if content.field__related_pages | render | join | striptags | trim  %}
      <div id='related-page-section'>
        <h4 class="section-title">Related pages</h4>
        <div id='related-page-content'>
          {{content.field__related_pages}}
        </div>
      </div>
    {% endif %}


</div>

