{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{%  set base_url = render_var(url('<front>'))  %}
<div class="breadcrumb board-breadcrumb">
   <ol class="tw-flex tw-flex-wrap tw-my-8">
     <li class="flex items-center cap"><a href="{{ base_url }}contact">Contact</a><span class="seprater"></span></li>
     <li class="flex items-center cap">Board {{node.field_district.entity.label}}</li>
   </ol>
</div>
<div class='wrapper-board-page-node page-board'>
  <div class='inner-board-page-node'>
    <div class="board-title-area">
      <h2 class="board-title">Board {{node.field_district.entity.label}} - {{ node.title.value }} {{node.field_name.value}}</h2>
      <div class="board-title-right">Contact the Board Members and their teams here.</div>
    </div>
    <section class="board-detail card">
      <div class="board-image">{{content.field_upload_image}}</div>
      <div class="board-info">
        <h3 class="board-name">{{ node.title.value }} {{node.field_name.value}}</h3>
        <p class="board-district">
          <span>Board Member {{node.field_district.entity.label}}</span>
          {% if node.field_position.value %}
            (<span class="board-position">{{node.field_position.value}}</span>)
          {% endif %}
        </p>
        <ul class="board-contact">
          <li class="board-contact-item email"><a href="mailto:{{node.field_email.value}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{node.field_email.value}}</a></li>
          <li class="board-contact-item website"><a href="{{content.field_website_url.0['#url']}}"><i class="fa fa-desktop" aria-hidden="true"></i> {{content.field_website_url.0['#url']}}</a></li>
          {% if node.field_mobile.value %}
            <li class="board-contact-item mob"><a href="tel:{{node.field_mobile.value}}"><i class="fa fa-mobile" aria-hidden="true"></i> {{node.field_mobile.value}}</a></li>
          {% endif %}
          {% if node.field_mobile.value %}
            <li class="board-contact-item phone"><a href="tel:{{node.field_phone.value}}"><i class="fa fa-phone" aria-hidden="true"></i> {{node.field_phone.value}}</a></li>
          {% endif %}
        </ul>
      </div>
    </section>

   {% if node.field_staff_contacts is not empty %}
    <section class="staff-contacts">
      <h4 class="section-title">Staff Contacts</h4>
      <div class="section-content">  
          {% for item in node.field_staff_contacts %}
            
            <div class="views-row">
              <div class="board-card"> 
                <div class="whole-section">     
                  <span class='contact-icon'></span>         
                  <div class="section">
                   {% if  item.entity.title.value == true %}
                      <div class="name">{{ item.entity.title.value|raw }} {{ item.entity.field_name.value|raw }}</div>
                    {% endif %}
                    {% if  item.entity.field_position.value == true %}
                      <div class="position">{{ item.entity.field_position.value|raw }}</div>
                    {% endif %}
                    </div>
                  </div>  
                  <div class="board-area">                    
                    {% if  item.entity.field_email.value == true %}
                        <div class="email"><a href="mailto:{{item.entity.field_email.value|raw }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ item.entity.field_email.value|raw }}</a></div>
                     {% endif %}
                    {% if  item.entity.field_mobile.value == true %}
                       <div class="phone"><a href="tel:{{node.field_phone.value}}"><i class="fa fa-phone" aria-hidden="true"></i>{{ item.entity.field_mobile.value|raw }}</a></div>
                     {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %} 
      </div>     
    </section>
    {% endif %}

    <section class="office-info">
      <h4 class="section-title">Office Information</h4>
      <div class="section-content">
        {{content.field_office_information}}
      </div>
    </section>

    <div class="board-page-bottom">
      <a href="/contact" class="btn">Return to contact</a>
    </div>
  </div>
</div>