{#
/**
 * @file
 * Theme override to display a single component.
 *
 * footer area template
 */
#}

<footer>
	<div class="footer tw-py-10 md:tw-py-20 tw-bg-gray-100">
		<div class="container">
			<div class="footer-top tw-flex tw-flex-col lg:tw-flex-row tw--m-5">
				<div class="footer-left tw-flex-1 tw-m-5">{{ page.footer_top_left_area }}</div>
				<div class="footer-middle tw-flex-1 tw-m-5">{{ page.footer_top_middle_area }}</div>
				<div class="footer-right tw-flex-1 tw-m-5">{{ page.footer_top_right_area }}</div>
			</div>
			<div class="footer-bottom tw-flex tw-flex-col md:tw-flex-row tw-items-baseline tw-mt-10 md:tw-mt-12 tw-pt-10 md:tw-pt-6 tw-border-t tw-border-gray-300">
				<div class="footer-menu tw-relative tw-w-full md:tw-w-auto tw--ml-2 md:tw-ml-0 tw-my-5 md:tw-my-0">{{ page.footer_top_bottom_left_area }}</div>
				<div class="copyright md:tw-ml-auto tw-font-light tw-text-sm md:tw-text-12px tw-text-gray-600">{{ page.footer_top_bottom_right_area }}</div>
			</div>			
		</div>
	</div>
	<div class="newsletter-area tw-py-10 md:tw-py-20 tw-text-white tw-bg-blue-500">
		<div class="container">{{ page.footer_bottom_area }}</div>
	</div>
</footer>