{#
/**
 * @file
 * Theme override to display a single component.
 *
 * header area template
 */
#}
<header class="site-header-small tw-flex md:tw-hidden tw-w-full tw-h-16 tw-fixed tw-z-10 tw-top-0 tw-left-0 tw-px-5 tw-text-white tw-bg-blue-800">
	<div class="header-left tw-flex tw-items-center tw-h-full">
		<div class="logo-area tw-w-10 tw-h-10 xs:tw-w-12 xs:tw-h-12 tw-mr-2 xs:tw-mr-4 tw-p-2px tw-bg-white tw-rounded-full">{{ page.site_branding_area }}</div>
		<div class="site-title tw-text-sm xs:tw-text-base tw-leading-tight tw-whitespace-no-wrap">{{ page.header_left }}</div>
	</div>
	<div class="header-right h-r-small js-nav-btn group tw-flex tw-items-center tw-h-full tw-ml-auto xs:tw-px-5 tw--mr-5 real-hover:tw-text-yellow tw-transition-colors tw-duration-200">
		<div class="menu-open tw-block tw-w-8 tw-h-8 tw-transition-opacity dtw-uration-500"><span class="menu-open-icon"></span></div>
		<div class="menu-close tw-block tw-w-8 tw-h-8 tw-absolute tw-opacity-0 tw-transition-opacity tw-duration-500 tw-opacity-0"><span class="menu-close-icon"></span></div>
	</div>
	<div class="heading-bottom tw-flex tw-flex-col tw-w-full tw-h-screen tw-pb-16 tw-absolute tw-top-full tw--mt-px tw-left-0 tw-bg-blue-900 tw-overflow-y-auto tw-scroll-container tw-contain-scroll tw-transition-all tw-duration-500 tw-opacity-0">
		<div class="menu-top tw-flex tw-pt-5">{{ page.navigation_area }}</div>
		<div class="menu-middle tw-flex tw-pb-10">{{ page.header_right }}</div>
		<hr class="tw-flex-shrink-0 tw-h-px tw-m-0 tw-bg-blue-800 tw-border-none">
		<p class="tw-font-light tw-mx-5 tw-mt-8">Choose a language</p>
		<div class="menu-bottom tw-mx-5 tw-mt-3 tw-mb-8">{{ page.header_middle }}</div>
		<div class="search-area tw-relative tw-bg-blue-800">{{ page.search_area }}</div>
	</div>
</header>

<header class="site-header tw-hidden md:tw-block tw-w-full tw-h-16 tw-fixed tw-z-10 tw-top-0 tw-left-0">
	<div class="header-top tw-h-8 tw-font-bold tw-leading-none tw-whitespace-no-wrap tw-text-white tw-bg-blue-500">
		<div class="container tw-flex tw-items-center tw-h-full">
			<div class="header-left tw-mr-auto">{{ page.header_left }}</div>
			<div class="header-middle flex mr-2 lg:mr-5">{{ page.header_middle }}</div>
			<div class="header-right flex">{{ page.header_right }}</div>
		</div>
	</div>
	<div class="header-bottom tw-h-16 tw-font-bold tw-text-base tw-leading-none tw-whitespace-no-wrap tw-text-white tw-bg-blue-800 tw-shadow-md">
		<div class="container tw-flex tw-h-full">
			<div class="header-bottom-left tw-flex tw-h-full tw-relative">
				<div class="logo-area tw-flex tw-items-center tw-h-full">{{ page.site_branding_area }}</div>
				<div class="menu-area tw-flex tw-h-full tw--ml-3 lg:tw--ml-5">{{ page.navigation_area }}</div>
			</div>
			<div class="search-area tw-self-center tw-flex tw-ml-auto tw-mr-6">{{ page.search_area }}</div>
		</div>
	</div>
</header>