.path-calendar-list.month_year_select_form #maindiv{
    padding-bottom: 0;
}

.path-calendar-list nav.pager ul,
.path-calendar nav.pager ul {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    overflow: visible;
}
.path-calendar-list nav.pager ul li.pager__item--previous,
.path-calendar nav.pager ul li.pager__item--previous {
    float:left;
}
.path-calendar-list nav.pager ul li.pager__item--next,
.path-calendar nav.pager ul li.pager__item--next {
    float:right;
}
.path-calendar-list nav.pager ul li.pager__item a,
.path-calendar nav.pager ul li.pager__item a {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #0068bb;
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 9999px;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    border-radius: 9999px;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
.path-calendar-list nav.pager ul li.pager__item a:hover,
.path-calendar nav.pager ul li.pager__item a:hover {
    color: #047cdc;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
}
.path-calendar-list nav.pager ul li.pager__item--previous a,
.path-calendar nav.pager ul li.pager__item--previous a {
    padding: 2px 70px 2px 50px;
}
.path-calendar-list nav.pager ul li.pager__item--next a,
.path-calendar nav.pager ul li.pager__item--next a {
    padding: 2px 50px 2px 70px;
}
.path-calendar-list nav.pager ul li.pager__item--previous a span:first-child,
.path-calendar-list nav.pager ul li.pager__item--next a span:last-child,
.path-calendar nav.pager ul li.pager__item--previous a span:first-child,
.path-calendar nav.pager ul li.pager__item--next a span:last-child {
    font-size: 32px;
    margin-top: -6px;
    padding: 0px 8px;
}
.calender_month_year_select_form .select-list-row {
    display: block !important;
}
.calender_month_year_select_form .select-list-label {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #616161;
    text-transform: uppercase;
    display: inline-block !important;
}
.calender_month_year_select_form .select-list-label.browse-by {
    width: 260px !important;
}
.calender_month_year_select_form .select-list-label.date-filter {
    width: 285px !important;
}
.calender_month_year_select_form .select-list-label.print-button {
    width: auto !important;
    float: right;
}
.calender_month_year_select_form .calendar-select-list-drop-down,
.calender_month_year_select_form .print-section-download-button {
    display: inline-block;
    vertical-align: middle;
}
.calender_month_year_select_form .print-button .label-text {
    margin-right: 24px;
}
.calender_month_year_select_form .select-list-label select.month-select,
.calender_month_year_select_form span.calendar-button {
    margin-left: 20px;
}
.path-calendar-list span.calendar-button a svg,
.path-calendar-list span.calendar-button a.active svg,
.path-calendar span.calendar-button a svg,
.path-calendar span.calendar-button a.active svg {
    font-size: 17px;
}
.path-calendar-list span.calendar-button a.active,
.path-calendar span.calendar-button a.active {
    color: #0068bb;
}
.calender_month_year_select_form span.calendar-button a {
    color: #bdbdbd;
    width: 58px;
    height: 35px;
    padding: 7px 0px !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.calender_month_year_select_form .select-list-label select  {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.calender_month_year_select_form .select-list-label select.month-select,
.calender_month_year_select_form span.calendar-button a:first-child {
    border-right-width: 1px;
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 60px 0px 0px 60px;
    padding: 12px 28px 5px 20px;
    background-color: #fff;
    outline: none;
}
.calender_month_year_select_form .select-list-label select.year-select,
.calender_month_year_select_form span.calendar-button a:last-child {
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 0px 60px 60px 0px;
    padding: 12px 20px 5px 17px;
    border-left: 0px;
    background-color: #fff;
    outline: none;
}
.calender_month_year_select_form .select-list-label select.year-select,
.calender_month_year_select_form .select-list-label select.month-select{
    padding: 5px;
    background: #ffffff url(../images/down-arrow.png) no-repeat right;
    background-size: 20px;
    background-position: right 14px bottom 50%;
}
.calender_month_year_select_form .select-list-label select.month-select {
    width: 135px;
}

.calender_month_year_select_form .select-list-row select {
    font-weight: bold;
    text-transform: uppercase;
    color: #212121;
    padding-right: 20px !important;
    padding-left: 15px !important;
    letter-spacing: .1em;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
}

.calender_month_year_select_form .print-section-download-button a {
    font-size: 10.5px;
    font-weight: 500;
    background: url(../images/download.png) #0068bb no-repeat left;
    background-size: 12px;
    background-position: 16px 50%;
    color: #fff;
    white-space: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    padding: 9px 7px 8px 42px;
    width: 150px;
    line-height: 9px;
    text-transform: capitalize;
    letter-spacing: 0;
}
.calender_month_year_select_form .print-section a:hover {
    background-color: #047cdc;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
}
.calender_month_year_select_form .print-section a:first-child {
    border-radius: 60px 0px 0px 60px;
}
.calender_month_year_select_form .print-section a:last-child {
    border-radius: 0px 60px 60px 0px;
}
.calender_month_year_select_form .print-section a:first-child {
    border-right: 1px solid #047cdc;
    margin-right: 1px;
}
.calender_month_year_select_form span.print-section-download-button {
    margin-left: 20px;
}
.path-calendar-list .calendar-calendar th.days,
.path-calendar .calendar-calendar th.days {
    background-color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.path-calendar-list .calendar-calendar th.days,
.path-calendar .calendar-calendar th.days {
    background-color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    padding-left: 8px;
    text-transform: uppercase;
    color: #212121;
    font-weight: 700;
}
.month_year_select_form #maindiv {
    max-width: 100%;
    padding: 30px 0px;
    padding-bottom: 0px;
}
.month_year_select_form #maindiv #block-lausd-page-title {
    border: 0px;
    padding-bottom: 30px;
}
.month_year_select_form #maindiv #block-lausd-page-title h1 {
    max-width: 1312px;
    margin: auto;
    padding-left: 98px;
    padding-right: 98px;
}
.calender_month_year_select_form form,
.calendar-listing .view-row,
.calendar-listing .calendar-calendar,
.calendar-listing .pager {
    max-width: 1312px;
    margin: auto;
    padding-left: 98px;
    padding-right: 98px;
}
#block-lausd-content .calendar-listing header {
    font-size: 15px;
    padding: 0rem;
    padding-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}
.calendar-listing header h3 {
    margin-bottom: 0px;
}
.month_year_select_form #maindiv #block-lausd-content .views-element-container {
    margin: 0rem;
}
.calendar-listing .calender_month_year_select_form {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    margin-top: 0.3rem;
    background-color: #f5f5f5;
}
.calendar-listing .calender_month_year_select_form .select-list-label span,
.calendar-listing .calender_month_year_select_form .select-list-label .calendar-form-action-wrapper {
    display: inline-block;
    vertical-align:  middle;
}

/*ranjan css*/
.calendar-calendar thead {
    border-bottom: 2px solid #212121;
}
.calendar-calendar .month-view .full td.date-box.empty .month.day {
    font-size: 0px;
}
.calendar-calendar .month-view .full td.date-box .month.day{
    width: 100%;
    padding: .35rem;
    text-transform: uppercase;
    text-align: left;
    color: #bdbdbd;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .1em;
    padding-bottom: 0px;
}
.calendar-calendar .month-view .full td.date-box:nth-child(1),
.calendar-calendar .month-view .full tr.single-day td:nth-child(1),
.calendar-calendar .month-view .full td.date-box:nth-child(7),
.calendar-calendar .month-view .full tr.single-day td:nth-child(7){
    background: #F5F5F5;
    width: 6% !important;
}
.calendar-calendar .month-view .full tr.single-day .empty,
.calendar-calendar .month-view .full .date-box .empty {
    background: #e0e0e0 !important;
}
.calendar-calendar td .inner div.calendar div,
.calendar-calendar .month-view .full td.single-day div.monthview{
    background-color: transparent !important;
    border-radius: 5px;
    /*margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 4px;*/
    overflow: hidden;
}
.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr td.single-day.today{
    border: 0px;
}
.calendar-calendar .month-view .full td.date-box.today {
    border-width: 0px;
    border-style: none;
    border-color: transparent;
}
.calendar-grid-listing .Completed {
    border: 1.5px solid #33959f !important;
    color: #33959f;
    text-transform: uppercase;
    font-weight: 700;
}
.calendar-grid-listing .Completed a{
    color: #33959f;
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1.25;
    display: block;
}
.calendar-grid-listing .Completed a:hover {
    color: #3faeb9;
}
.calendar-grid-listing .Completed a:active {
    color: #2a656b;
}
.calendar-grid-listing .Upcoming {
    border: 1.5px solid #0068bb !important;
    color: #0068bb;
    text-transform: uppercase;
    font-weight: 700;
}
.calendar-grid-listing .Upcoming a{
    color: #0068bb;
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1.25;
    display: block;
}
.calendar-calendar .month-view .full td.single-day div.monthview{
    padding: 0;
    margin: 0 10px 10px;
}
.calendar-grid-listing .Upcoming a:hover {
    color: #047cdc;
}
.calendar-grid-listing .Upcoming a:active {
    color: #164067;
}
.calendar-grid-listing .Canceled {
    border: 1.5px solid #9e9e9e !important;
    color: #9e9e9e;
    text-transform: uppercase;
    font-weight: 700;
}
.calendar-grid-listing .Canceled a{
    color: #9e9e9e;
    text-transform: capitalize; 
    font-size: .75rem;
    line-height: 1.25;
    display: block;
}
.calendar-grid-listing .Completed .status,
.calendar-grid-listing .Upcoming .status,
.calendar-grid-listing .Canceled .status {
    width: 50%;
    float: left;
    color: #fff;
    letter-spacing: .1em;
    font-size: .55rem;
    line-height: 1.85;
    margin-right: 8px;
    padding-left: 10px;
    border-bottom-right-radius: 7px;
    background: #33959f;
}
.calendar-grid-listing .Upcoming .status{
    background: #0068bb !important;
}
.calendar-grid-listing .Canceled .status{
    background: #9e9e9e !important;
}
.calendar-grid-listing .Canceled .title-section{
    line-height: normal !important;
    border: unset !important; 
}
.calendar-grid-listing .title-section {
    padding: 8px 10px !important;
    border-bottom: 1px solid #ddd !important;
}
.calendar-grid-listing .title-section a,
.calendar-grid-listing .calendar.monthview .agenda-live-stream span a{
    text-decoration: underline;
}
.calendar-grid-listing .calendar.monthview .agenda-live-stream {
    padding: 0 3.5px !important;
}
.calendar-grid-listing .calendar.monthview .agenda-live-stream span a{
    /* width: 50%; */
    float: left;
    font-size: 10px;
    padding: 7px;
}
.calendar.monthview:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04) !important;
    --transform-translate-y: -0.125rem !important;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
/*calendar-listing css*/
.calendar-listing .inner-meeting-section {
    margin-bottom: 7px;
}
.calendar-listing h3.Upcoming.Meetings,
.calendar-listing h3.Canceled.Meetings,
.calendar-listing h3.Completed.Meetings{
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: .5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #212121;
}
.calendar-listing header+.view-row+.view-row{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.calendar-listing .views-row .wrapper-meeting-section  .left-date-section {
    background: #2a656b !important;
    color: #ffffff !important;
}
.calendar-listing .views-row .wrapper-meeting-section.Completed  .left-date-section span:nth-child(3){
    background: #33959f;
}

.calendar-listing .views-row .wrapper-meeting-section.Upcoming .left-date-section {
 background: #164067 !important;
}


.calendar-listing .views-row .wrapper-meeting-section.Canceled .left-date-section {
    background: #424242 !important;
    color: #ffffff !important;
}
.wrapper-meeting-section.Completed .middle-body-section {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    display: flex;
    border-left-width: 0;
    border-width: 1px;
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    width: 89%;
    float: right;
    height: 79px;
    max-height: 79px;
}
.wrapper-meeting-section.Completed .right-first-section {
    padding: 0.8rem;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    padding-bottom: 0px;
    padding-top: 20px;
    -webkit-box-direction: normal;
}
.views-row .wrapper-meeting-section.Canceled .bottom-middle-section h3 a{
    line-height: 1.375;
    font-size: 1rem;
    color: #757575 !important;
}
.views-row .wrapper-meeting-section.Completed .bottom-middle-section h3 a{
    line-height: 1.375;
    font-size: 1rem;
    color: #33959f !important;
}
.views-row .wrapper-meeting-section.Completed .bottom-middle-section h3 a:hover,
.calendar-listing .views-row .wrapper-meeting-section.Completed .right-link-section a:hover{
    color: #3faeb9 !important;
}
.wrapper-meeting-section.Completed .top-middle-section {
    font-size: 0.9rem;
    margin-bottom: .125rem;
    line-height: 1;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #212121;
    text-transform: uppercase;
}
.wrapper-meeting-section.Completed .right-link-section {
    width: 8.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-direction: normal;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
}

.calendar-listing .views-row .wrapper-meeting-section.Completed .right-link-section{
    border-left-width: 1px;
}
.calendar-listing .views-row .wrapper-meeting-section.Canceled .right-link-section a,
.calendar-listing .views-row .wrapper-meeting-section.Completed .right-link-section a {
    font-size: 11px;
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.calendar-listing .views-row .wrapper-meeting-section.Canceled .right-link-section a{
    color: #757575 !important;
}
.calendar-listing .views-row .wrapper-meeting-section.Completed .right-link-section a{
    color: #33959f !important;
}
.calendar-calendar .month-view .full tr td.today.no-entry {
    border-right: 1px solid #ccc;
}

.wrapper-meeting-section.Upcoming .bottom-middle-status-section {
    display: none;
}

.wrapper-meeting-section.Completed .bottom-middle-section {
    display: inline-block;
}

.wrapper-meeting-section.Completed .bottom-middle-status-section.Completed {
    width: 90px;
    float: right;
    background: #33959f;
    text-align: center;
    color: #fff;
    margin: auto;
    text-transform: uppercase;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5;
    align-self: flex-start;
    font-weight: 700;
    border-radius: 9999px;
}


/* responsive for calander */
@media (max-width: 1279px){
    .calender_month_year_select_form .select-list-label.browse-by{
        display: none !important;
    }
}
@media (max-width: 1023px){
    .month_year_select_form #maindiv #block-lausd-page-title h1,
    .calender_month_year_select_form form, .calendar-listing .view-row,
    .calendar-listing .calendar-calendar, .calendar-listing .pager{
        width: 100%;
        padding-left: 17.5px;
        padding-right: 17.5px;
    }
    .calender_month_year_select_form .select-list-label.print-button{
        float: unset;
        margin-left: 24px;
    }
    .calender_month_year_select_form .print-button .label-text {
        margin-right: 10px;
    }
}

@media (max-width: 767px){
    .month_year_select_form .calender_month_year_select_form  .label-text{
        padding: 12px 0 7px !important;
    }
    .month_year_select_form .calender_month_year_select_form .print-button .label-text{
        padding-top: 0 !important;
    }
    .calender_month_year_select_form .select-list-label.date-filter,
    .calender_month_year_select_form .select-list-label.print-button{
        width: 100% !important;
        margin: 0;
    }
    .calendar-listing .calender_month_year_select_form .select-list-label span,
    .calendar-listing .calender_month_year_select_form .select-list-label .calendar-form-action-wrapper,
    .calender_month_year_select_form .print-section-download-button{
        display: block;
    }
    .calender_month_year_select_form .select-list-label select.month-select{
        margin: 0;
    }
    .calender_month_year_select_form .print-section a{
        height: 35px;
    }
    .calender_month_year_select_form .calendar-select-list-drop-down,
    .calender_month_year_select_form .print-section a{
        width: 50%;
        display: inline-block;
        margin: 0px !important;
        vertical-align: bottom;
    }
    .calender_month_year_select_form .calendar-select-list-drop-down select{
        width: 100% !important;
    }/*
    .path-calendar-list nav.pager ul, .path-calendar nav.pager ul {
        padding-bottom: 0;
    }*/
    .calendar-listing header+.view-row+.view-row {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .views-row .wrapper-meeting-section.Completed .bottom-middle-section h3 a{
        font-size: 14px;
    }
}
@media (max-width: 639px){
    .path-calendar-list nav.pager ul,
    .path-calendar nav.pager ul{
        display: flex;
    }
    .path-calendar-list nav.pager ul li.pager__item{
        width: 50%;
    }
    .path-calendar-list nav.pager ul li.pager__item a{
        width: 100%;
    }
    .path-calendar-list nav.pager ul li.pager__item:first-child a{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }
    .path-calendar-list nav.pager ul li.pager__item:last-child a{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .wrapper-meeting-section .middle-body-section{
        height: unset !important;
        max-height: unset !important;
        display: block !important;
    }
    .wrapper-meeting-section .bottom-middle-section h3{
        margin-bottom: 14px !important;
    }
    .wrapper-meeting-section.Completed .bottom-middle-status-section.Completed {
        float: none;
        margin-bottom: 15px !important;
        margin-left: 0 !important;
    }
    .wrapper-meeting-section .right-link-section{
        width: 100% !important;
        justify-content: unset !important;
        background: #f5f5f5 !important;
        flex-direction: row !important;
    }
    .wrapper-meeting-section .right-link-section span:first-child a{
        padding-left: 14px !important;
    }
    .wrapper-meeting-section.Canceled .right-link-section{
        background: none !important;
        padding-bottom: 12px;
    }
}