.wrapper-meeting-node {
    border-bottom: 1px solid #e0e0e0;
}
.wrapper-meeting-node .top-section {
    overflow: hidden;
    padding-bottom: 55px;
}
.wrapper-meeting-node .left-date-section {
    width: 160px;
    height: 130px;
    float: left;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
.wrapper-meeting-node span.day,
.wrapper-meeting-node span.date,
.wrapper-meeting-node span.month {
    display: block;
}
.wrapper-meeting-node span.day {
    font-size: 1.2rem;
    color: #9e9e9e;
    padding-top: .2rem;
    padding-bottom: .135rem;
    margin-top: .5rem;
    font-weight: 500;
}
.wrapper-meeting-node span.date {
    color: #424242;
    font-size: 2.5rem;
    padding-bottom: 1.75rem;
    padding-top: .75rem;
    font-weight: 700;
}
.wrapper-meeting-node span.month {
    letter-spacing: .1em;
    font-size: .7rem;
    padding-top: .30rem;
    background-color: #0068bb;
    display: block;
    padding-bottom: .35rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.Upcoming span.month {
    background-color: #0068bb;
}

.Completed span.month {
    background-color: #33959f;
}
.Completed .status span {
    background-color: #33959f;
}
.wrapper-meeting-node .right-content-section {
    width: 83%;
    float: right;
}
.Upcoming .status span {
    background-color: #0068bb;
}
.status span {     
        border-radius: 10px;
        font-weight: 700;
        line-height: 1.5;
        margin-right: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        color: #fff;
        font-size: .525rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding-left: .75rem;
        padding-right: .75rem;
}
.Upcoming .status span {
    background-color: #0068bb;
}
.wrapper-meeting-node .status ,
.wrapper-meeting-node .start-time {
    display: inline-block;
}
.wrapper-meeting-node .start-time  {
        color: #757575;
    
}
.wrapper-meeting-node .start-time span {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: .1em;
}
.wrapper-meeting-node .start-time svg {
    font-size: 0.7rem;
    margin-right: 3px;
}
.wrapper-meeting-node .node-title h3 {
    font-size: 1.3rem;
    margin-top: .75rem;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.375;
    color: #212121;
}
.wrapper-meeting-node .node-body {
    font-size: 0.9rem;
    display: block;
    color: #757575;
    margin-bottom: -.25rem;
    margin-top: .5rem;
    line-height: 1.5;
}
#block-lausd-page-title h1 {
    color: #212121;
    font-size: 1.3rem;
    padding: .5rem;
    width: 33.333333%;
    float: left;
}
#block-lausd-content header {
    font-size: 15px;
    padding: .5rem;
    padding-top: 14px;
    margin-bottom: 65px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 40px;
}
#block-lausd-content .item-list h2 a {
    font-size: 1.27rem;
    color: #0068bb;
    text-decoration: underline;
    margin-bottom: .75rem;
    display: block;
    font-weight: 700;
    line-height: 1.375;
}
#block-lausd-content .item-list h3 {
    margin-bottom: 10px;
}
#block-lausd-content .item-list p {
    max-width: 24em;
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    display: inline-block;
    line-height: 1.5;
}
#block-lausd-content .item-list .views-field-title a {
    text-decoration: underline;
    color: #0068bb;
}
#block-lausd-content .item-list  {
    width: 49%;
    float: left;
    min-height: 50px;
    height: 400px;
}
#block-lausd-content .item-list ul li .views-field-title a::before {
    content: "\2022";
    color: #0068bb;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-right: 8px;
  }

  #block-views-block-meeting-meeting-block .views-row {
    margin-top: 0.5rem;
    overflow: hidden;
 }
#block-views-block-meeting-meeting-block footer {
    overflow: hidden;
    padding-top: 25px;
 }
 #block-views-block-meeting-meeting-block footer a {
    color: #fff;
    background-color: #0068bb;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .75rem 2rem;
    font-weight: 700;
    border-radius: 9999px;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
 }
 #block-views-block-meeting-meeting-block footer a:hover {
    background-color: #047cdc;
    display: inline-flex;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
 }

 .wrapper-meeting-section .left-date-section {
    width: 5rem;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    float: left;
 }

 .wrapper-meeting-section.Upcoming .left-date-section {
    background-color: #164067;
 }

 
 .wrapper-meeting-section.Canceled .left-date-section {
    background-color: #424242;
 }

 .wrapper-meeting-section.Upcoming .middle-body-section {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    display: flex;
    border-left-width: 0;
    border-width: 1px;
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    width: 89%;
    float: right;
    height: 79px;
    max-height: 79px;
 }

 .wrapper-meeting-section.Canceled .middle-body-section {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    display: flex;
    border-left-width: 0;
    border-width: 1px;
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    width: 89%;
    float: right;
    height: 79px;
    max-height: 79px;
 }

 .wrapper-meeting-section .left-date-section span:nth-child(1) {
    font-size: .75rem;
    padding-bottom: .125rem;
    margin-top: .5rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
 }

.wrapper-meeting-section.Upcoming .left-date-section span:nth-child(1) {
    color: #bce1ff;
 }


 .wrapper-meeting-section.Canceled .left-date-section span:nth-child(1) {
    color: #e0e0e0;
 }

 .wrapper-meeting-section .left-date-section span:nth-child(2) {
    color: #fff;
    font-size: 21px;
    padding-bottom: .5rem;
    padding-top: .25rem;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1;
    text-align: center;
 }

 .wrapper-meeting-section .left-date-section span:nth-child(3) {
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    padding-bottom: .125rem;
    line-height: 1;
    font-weight: bold;
    height: 1.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border-bottom-left-radius: .375rem;
    background-color: #0068bb;
    text-align: center;
 }

 .wrapper-meeting-section.Canceled .left-date-section span:nth-child(3) {
    background-color: #757575;
 }
 
 .wrapper-meeting-section.Upcoming .right-first-section {
    padding: 0.54rem;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    -webkit-box-direction: normal;
 }
 .wrapper-meeting-section.Upcoming .top-middle-section {
    font-size: 0.9rem;
    margin-bottom: .125rem;
    line-height: 1;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #212121;
 }
 .wrapper-meeting-section.Upcoming .bottom-middle-section h3 a {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-line-clamp: var(--line-clamp,2);
    overflow: hidden;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
 }
 .wrapper-meeting-section.Upcoming .right-link-section {
    width: 10rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-direction: normal;
    border-left-width: 1px;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
 }
 .wrapper-meeting-section.Upcoming .right-link-section a {
    font-size: 11px;
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
 }

 .wrapper-meeting-section .top-middle-section svg {
    font-size: 11px;
    margin-right: 3px;
 }

 
.wrapper-meeting-section.Canceled .right-first-section {
    padding: 0.54rem;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    padding-bottom: 0px;
    padding-top: 20px;
    -webkit-box-direction: normal;
 }
 .wrapper-meeting-section.Canceled .top-middle-section {
    font-size: 0.9rem;
    margin-bottom: .125rem;
    line-height: 1;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #212121;
 }
 
 .wrapper-meeting-section.Canceled .bottom-middle-section h3 {
    color: #757575;
    line-height: 1.375;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
 }
 
 .wrapper-meeting-section.Canceled .right-link-section {
    width: 10rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-direction: normal;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
 }
 
 .wrapper-meeting-section.Canceled .right-link-section span {
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 9px;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5;
    align-self: flex-start;
    font-weight: 700;
    border-radius: 9999px;
    background-color: #757575;
 }
 
 

 /* temp */
 #block-lausd-content .views-element-container{
     position: relative;
 }

 #block-lausd-content .views-element-container header{
    position: absolute;
    top: -120px;
    right: 0;
    border:unset;
 }