/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* components */

.cap {
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.color-default{
  color: #212121;
}

.link {
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
}

.link-blue {
  color: #0068bb;
}

.link-blue-hover{
  color: #047cdc;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: .75rem 2rem;
  font-weight: 700;
  border-radius: 9999px;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}

.btn-hover {
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
  --transform-translate-y: -0.125rem;
}

.btn-blue-outline {
  color: #0068bb;
  border-width: 1px;
  border-color: #e0e0e0;
}

.btn-blue-outline-hover {
  color: #047cdc;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}

.text-2xl{
  font-size: 21px
}

.text-12px {
  font-size: 10.5px;
}

.text-13px {
  font-size: 11.375px;
}

.mt-2px {
  margin-top: .125rem;
}

/* components end */

/* board page */

.page-board .board-title-area{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  margin-top: -0.5rem;
  padding-bottom: 2rem;
}

.page-board .board-title{
  width: 100%;
  padding: 0.25rem;
  font-weight: 700;
  font-size: 21px;
  color: #212121;
}

.page-board .board-title-right{
  width: 100%;
  padding: 0.25rem;
}

.page-board .board-detail.card{
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  border-radius: 0.5rem;
}

.page-board .board-image{
  width: 10rem;
  position: relative;
  --bg-opacity: 1;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, var(--bg-opacity));
  border-radius: 0.375rem;
  overflow: hidden;
  width: 8.5rem;
  height: 184px;
}

.page-board .board-image img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-board .board-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.page-board .board-name{
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 0;
  color: #212121;
}

.page-board .board-district{
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.page-board .board-contact{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.page-board .board-contact-item a{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
  color: #0068bb;
}

.page-board .board-contact-item a:hover{
  color: #047cdc;
}

.page-board .board-contact-item svg{
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.25rem;
  margin-right: 0.75rem;
}

.page-board .staff-contacts{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.page-board .section-title{
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-bottom-width: 2px;
  --border-opacity: 1;
  border-color: #1a202c;
  border-color: rgba(26, 32, 44, var(--border-opacity));
  color: #212121;
}

.page-board .section-content table{
  width: 100%;
}

.page-board .section-content table tr{
  display: flex;
  margin: -1.25rem;
}

.page-board .section-content table td{
  width: 50%;
  padding: 1.25rem;
}

.page-board .board-page-bottom{
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.page-board .board-page-bottom .btn{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  padding: .75rem 2rem;
  font-weight: 700;
  border-radius: 9999px;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  color: #0068bb;
  border-width: 1px;
  border-color: #e0e0e0;
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  justify-content: center;
}

.page-board .board-page-bottom .btn:hover{
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
  --transform-translate-y: -0.125rem;
  color: #047cdc;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}

/* board page end */

/* contact page */

#block-lausd-page-title{
  overflow: hidden;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 28px;
  width: 100%
}

#block-lausd-content .views-element-container{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#block-lausd-content .board-member-view{
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

#block-lausd-content .views-row{
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#block-lausd-content footer{
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.board-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.25rem;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  border-radius: 0.5rem;
}

.board-card .board-heading a{
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.board-card .board-heading a svg{
  width: 2rem;
  height: 2rem;
  margin-top: .125rem;
  margin-right: 1rem;
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity));
}

.board-card .board-heading .board-title-area {
  line-height: normal
}

.board-card .board-heading .board-title-area .district{
  font-weight: 700;
  font-size: 10.5px;
  text-transform: uppercase;
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.board-card .board-heading .board-title-area .name{
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  color: #212121;
}

.board-card .board-heading .board-title-area .position{
  font-weight: 700;
  font-size: 10.5px;
  text-transform: uppercase;
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.board-card .board-heading a:hover .name{
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity));
}

.board-card .board-bio p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 11.375px;
}

.board-card .board-link-area a{
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
  color: #0068bb;
  font-size: 11.375px;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

/* responsive */

@media (min-width: 1024px) {
  #block-lausd-content .board-member-view{
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }

  #block-lausd-content .views-row{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  #block-lausd-content footer{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 768px) {
  .page-board .board-title-area{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .page-board .board-title{
    width: 50%;
    padding: 0.5rem;
  }

  .page-board .board-title-right{
    width: 50%;
    padding: 0.5rem;
  }

  .page-board .staff-contacts{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .page-board .board-page-bottom{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .page-board .board-page-bottom .btn{
    width: 33.333333%;
  }

  #block-lausd-content views-element-container{
    margin-bottom: 5rem;
  }

  #block-lausd-content .views-row{
    width: 33.333333%;
  }

  .board-card .board-heading a svg{
    width: 3rem;
    height: 3rem;
    margin-right: 1.25rem;
  }

  #block-lausd-content footer{
    width: 66.666667%;
  }
}

@media (min-width: 640px) {
  .page-board .board-detail.card{
    flex-direction: row;
  }

  .page-board .board-info{
    margin-top: 0;
    margin-left: 2rem;
  }

  .page-board .board-contact{
    height: 4rem;
  }
}