
@media (min-width: 768px){
  /* front page */
  .explore-our-website-view .views-view-grid .views-col.col-2{
    padding-left: 21px;
  }
  
}
@media (min-width: 1024px){
  
  .board-member-view.listing-view .views-field-title-wrapper{
    min-height: 38px;
  }
  .board-member-view.listing-view .views-col-wrapper {
    min-height: 390px;
  }
  .board-member-view.listing-view .box-bottom > div {
    padding-left: 13px;
    padding-right: 13px;
  }
  .board-member-view.listing-view .views-field-field-district{
    padding-top: 13px;
  }
  .board-member-view.listing-view  .views-field-field-upload-map-pdf{
    padding-bottom: 13px;
  }
  #block-views-block-board-block-1-2 > h2,
  #block-meettheboardofeducationfrontpage > h2,
  #block-abouttheboardsecretariatfrontpage > h2{
    display: none;
  }
  /***************** staff section *************/
  .staff-contacts .section-content {
    margin-left: -17.5px;
    margin-right: -17.5px;
  }
  .staff-contacts .section-content .views-row{
      padding: 10.5px 17.5px;
  }
}
@media (min-width: 1400px){
  .Meet-the-board-of-education{
    width: 55.8%;
  }
  .about-the-board-secretariat{
    width: 41.7%;
  }
}
@media (min-width: 1500px){
  
}