/* components  override & custom*/

.footer h2,
.newsletter-area h2{
  color: inherit;
}

.bg-blue-500{
  background-color: #0068bb !important;
}

.bg-blue-800 {
  background-color: #164067 !important;
}

.bg-blue-900 {
  background-color: #112d46 !important;
}

.bg-blue-1000 {
  background-color: #0c1f2f !important;
}

.text-base {
  font-size: 14px;
}

.text-sm{
  font-size: 12.25px;
}

.text-xs {
  font-size: 10.5px;
}

.w-18 {
  width: 4.5rem;
}

.h-18 {
  height: 4.5rem;
}

.p-2px {
  padding: .125rem;
}

.right-full {
  right: 100%;
}

.h-11 {
  height: 2.75rem;
}

.pr-15 {
  padding-right: 3.75rem;
}

.-ml-15 {
  margin-left: -3.75rem;
}

.text-yellow{
  color: #fff000;
}

/****************/

.text-12px {
  font-size: .75rem;
}

.cap {
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.link-blue {
  color: #0068bb;
}

.link-blue-hover {
  color: #047cdc;
}

.link-gray {
  color: #757575;
}

.link-gray-hover {
  color: #9e9e9e;
}

.link {
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
}

.tw-btn-blue {
  color: #fff;
  background-color: #0068bb;
}

.tw-btn {
  display: inline-flex;
  align-items: center;
  padding: 7px 21px !important;
  font-weight: 700;
  border-radius: 9999px;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}

/* end */

.footer h1, .footer h2, .footer h3 {
  font-size: inherit;
  font-weight: inherit;
}

.footer h1, .footer h2, .footer h3, .footer hr, .footer p {
  margin: 0;
}

/* footer css */

.footer .footer-top h2{
  width: 100%;
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  font-size: 12.25px;
}

.footer .footer-top ul{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer .footer-left ul li a{
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
  color: #0068bb;
  font-size: 14px;
}

.footer .footer-left ul li a:hover{
  color: #047cdc;
}

.footer .footer-left footer a{
  font-size: 14px;
}

.footer .footer-middle ul li a,
.footer .footer-right ul li a{
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}

.footer .footer-middle ul li a:hover,
.footer .footer-right ul li a:hover{
  color: #9e9e9e;
}

.footer .footer-bottom .footer-menu ul:not(.contextual-links){
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.footer .footer-bottom .footer-menu ul li:first-child{
  font-weight: 300;
  font-size: 12.25px;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
  font-size: 10.5px;
}

.footer .footer-bottom .footer-menu a{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .2s;
  color: #0068bb;
  text-decoration: none;
  font-size: 12.25px;
}

.footer .footer-bottom .footer-menu a:hover{
  color: #047cdc;
}

.footer .copyright p{
  font-weight: 300;
  font-size: 12.25px;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
  font-size: 10.5px;
  padding: 0;
}

.newsletter-area .simplenews-subscriber-form{
  display: block;
  margin: -0.75rem;
}

.newsletter-area .subscriber-form-message{
  margin: 0.75rem;
}

.newsletter-area form{
  margin: 0.75rem;
}

.newsletter-area form label,
.newsletter-area form .description{
  display: none;
}

.newsletter-area form input.form-email{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 14px 17.5px;
  border: none;
}

.newsletter-area form .form-actions input{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
  padding: 14px 28px;
  height: 50px;
  background-color: #f5f5f5;
  font-weight: bold;
  border: 0px;
  font-size: 14px;
  width: 100%;
}

.newsletter-area form .form-actions input:hover{
}

.newsletter-area h2 {
  font-weight: 700;
  font-size: 1.5rem;
  font-size: 21px;
}

.newsletter-area .form-item-message {
  font-weight: 300;
  font-size: 14px;
}

/* footer css end */

/* responsive footer */

@media (min-width: 1280px){
}

@media (min-width: 1024px){
}

@media (min-width: 768px){
  .footer .footer-bottom .footer-menu ul li:first-child{
    font-size: .75rem;
    margin-right: 1.25rem;
  }

  .footer .copyright{
    margin-left: auto;
    font-size: .75rem;
  }

  .newsletter-area .simplenews-subscriber-form{
    display: flex;
  }
  .newsletter-area form input.form-email{
    font-size: 14px;
    margin-left: 20px;
    width: 224px !important;
  }

  .newsletter-area form .form-actions input{
    height: 50px;
  }
}

@media (min-width: 640px){
  .newsletter-area form input.form-email{
    width: 240px !important;
  }

  .newsletter-area form{
    display: flex;
  }
}

@media (min-width: 1060px){
  .newsletter-area .subscriber-form-message{
    width: 66.666667%;
  }

  .footer .footer-bottom{
    margin-top: 21px !important
  }
}

@media (min-width: 1400px){
  .footer .footer-top h2{
    font-size: 13.125px;
  }

  .footer .footer-left ul li a,
  .footer .footer-middle ul li a,
  .footer .footer-right ul li a{
    font-size: 15px;
  }

  .footer .footer-left footer a.tw-btn{
    font-size: 15px;
    padding: 7.5px 22.5px;
  }

  .footer .footer-bottom .footer-menu a{
    font-size: 13.125px;
  }

  .newsletter-area{
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }

  .newsletter-area h2{
    font-size: 22.5px;
    line-height: 36px;
  }

  .newsletter-area .form-item-message{
    font-size: 15px;
  }

  .newsletter-area form .form-actions input,
  .newsletter-area form input.form-email{
    height: 52.22px;
    font-size: 15px;
  }
}

@media (max-width: 767px){
  .footer .footer-bottom .footer-menu ul li:first-child{
    position: absolute;
    top: -28px;
    left: 9px;
  }
  .newsletter-area form{
    margin-top: 24px;
  }
}

/* responsive footer end */
