/* components  override & custom*/

header a{
  color: inherit;
}

header p{
  padding: 0;
}

.bg-blue-500{
  background-color: #0068bb !important;
}

.bg-blue-800 {
  background-color: #164067 !important;
}

.bg-blue-900 {
  background-color: #112d46 !important;
}

.bg-blue-1000 {
  background-color: #0c1f2f !important;
}

.text-base {
  font-size: 0.875rem;
}

.text-sm{
  font-size: .765625rem;
}

.text-xs {
  font-size: 0.65625rem;
}

.w-18 {
  width: 3.9375rem;
}

.h-18 {
  height: 3.9375rem;
}

.p-1 {
  padding: 0.21875rem;
}

.p-2px {
  padding: .125rem;
}

.right-full {
  right: 100%;
}

.h-11 {
  height: 2.75rem;
}

.pr-15 {
  padding-right: 3.75rem;
}

.-ml-15 {
  margin-left: -3.75rem;
}

.text-yellow{
  color: #fff000;
}

.px-2 {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
}

.px-4 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

/* end */

body.user-logged-in .site-header{
  margin-top: 80px;
}

.site-header h1, .site-header h2, .site-header h3 {
  font-size: inherit;
  font-weight: inherit;
}

.site-header h1, .site-header h2, .site-header h3, .site-header hr, .site-header p {
  margin: 0;
  padding: 0;
}

.site-header a:hover,
.site-header-small a:hover{
  color: #bce1ff !important;
}

.site-header .menu-area ul li a.calandar-mobile{
  display: none !important;
}

.site-header-small .menu-top ul li a.calandar-dektop{
  display: none !important;
}

/* header css */

/*
.site-header{
  @apply hidden w-full h-16 fixed z-10 top-0 left-0
}
.site-header .header-top{
  @apply h-8 font-bold text-xs leading-none whitespace-no-wrap text-white bg-blue-500;
}
.site-header .header-top-wrapper{
  @apply flex items-center h-full;
}
.site-header .header-left{
  @apply mr-auto;
}
*/

.site-header .header-top{
  font-size: 0.65625rem;
}

.site-header .header-left span{
  font-weight: 300;
}

.site-header .header-middle ul:not(.contextual-links){
  display: flex;
  margin-right: 0.5rem;
}

.site-header .header-middle li:first-child{
  display: none;
  margin-right: 0.5rem;
  font-weight: 300;
}

.site-header .header-middle li a{
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
}

.site-header .header-middle li a:hover{
  --text-opacity: 1;
  color: #ebf8ff;
  color: rgba(235, 248, 255, var(--text-opacity));
}

.site-header .header-right ul:not(.contextual-links){
  display: flex;
}

.site-header .header-right li a{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
}

.site-header .header-right li:not(:first-child) a{
  margin-right: -5px;
}

.site-header .header-right a:hover{
  --text-opacity: 1;
  color: #ebf8ff;
  color: rgba(235, 248, 255, var(--text-opacity));
}

.site-header .header-right a svg{
  display: block;
  margin-left: 0.5rem;
  width: 11px;
  height: 11px;
}

.site-header .header-bottom svg,
.site-header-small .header-bottom svg,
.site-header-small .menu-middle svg{
  margin-left: 0.5rem;
}

/*
.site-header .header-bottom{
  @apply h-16 font-bold text-base leading-none whitespace-no-wrap text-white bg-blue-800 shadow-md;
}
.site-header .header-bottom-wrapper{
  @apply flex h-full;
}*/

.site-header .header-bottom .logo-area a{
  width: 3.9375rem;
  height: 3.9375rem;
  margin-right: 1.5rem;
  padding: .125rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
  margin-right: 21px !important;
  height: 63px;
  width: 63px;
}

.site-header .header-bottom .logo-area a{
}

.site-header .header-bottom .logo-area a:hover{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --transform-scale-x: 1.05;
  --transform-scale-y: 1.05;
}

.site-header .header-bottom .logo-area a img{
  margin-top: 2px;
  margin-left: 0.5px;
}

.site-header .header-bottom .menu-area #block-mainnavigation{
  height: 100%;
}

.site-header .header-bottom .menu-area ul.sf-main{
  display: block;
  height: 100%;
  display: flex !important;
}

.site-header .header-bottom .menu-area a{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
}

.site-header .header-bottom .menu-area a.is-active{
  color: #fff000;
}

.site-header .header-bottom .menu-area a.sf-depth-1{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  padding-left: 10.5px;
  padding-right: 10.5px;
}

.site-header .header-bottom .menu-area li:first-child a.sf-depth-1{
  padding-left: 16px;
}

.site-header .header-bottom .menu-area a.sf-depth-1.sf-with-ul {
  padding-right: 38px;
}

.site-header .header-bottom .menu-area a:hover{
  --text-opacity: 1;
  color: #ebf8ff;
  color: rgba(235, 248, 255, var(--text-opacity));
}

.site-header .header-bottom .menu-area li.menuparent > ul{
  display: block;
}

.site-header .header-bottom .search-area form{
  position: relative;
}

.site-header .header-bottom .search-area .form-item input{
  padding-left: 1.25rem;
  padding-right: 3.75rem;
  font-weight: 300;
  font-size: 0.875rem;
  border-radius: 9999px;
  background-color: #112d46;
  height: 2.5rem;
  width: 12.25rem;
  border: 0px;
}

.search-area input::placeholder{
  color: #7fa9cc;
  opacity: 1; 
}
.search-area input:-ms-input-placeholder{
  color: #7fa9cc;
  opacity: 1; 
} 
.search-area input::-ms-input-placeholder{
  color: #7fa9cc;
  opacity: 1; 
} 
.search-area input::-moz-placeholder { /* Firefox, Chrome, Opera */ 
  color: #7fa9cc;
  opacity: 1; 
} 
.site-header .header-bottom .search-area .form-actions .button{
  font-size: 0px;
  width: 17.5px;
  height: 17.5px;
  border-radius: 999px;
  background: url(../images/search-icon.png) no-repeat center;
  background-size: 17.5px;
  position: absolute;
  right: -11px;
  top: 1px;
  border: 0px;
  box-shadow: unset;
  cursor: pointer;
  padding: 19px 14px;

}

.site-header .header-bottom .search-area .form-actions .button:hover{
  background: url(../images/search-icon-yellow.png) no-repeat center;
  background-size: 17.5px;
}

/* header css end */

/* header small */

.site-header-small .logo-area *{
  width: 100%;
  height: 100%;
}

.site-header-small .logo-area a.tw-mr-2{
  margin: 0 !important;
}

.site-header-small .logo-area a img{
  padding: 2px;
  margin: 0;
}

.site-header-small .site-title span{
  display: block;
}

.h-r-small{
  padding: 16px 12px 12px 18px !important;
}
.menu-open-icon{
  background: url(../images/menu-open.png) no-repeat center;
}

.menu-close-icon{
  background: url(../images/menu-close.png) no-repeat center;
}
.menu-open-icon,
.menu-close-icon{
  width: 28px;
  height: 28px;
  background-size: 24px;
  display: block;
  text-align: center;
  background-position: top;
}
.site-header-small .heading-right .menu-open{
  opacity: 1;
  text-align: center;
}

.site-header-small .heading-right .menu-close{
  text-align: center;
  background: url(../images/menu-close.png) no-repeat center;

}

.site-header-small .heading-bottom{
  top: 100%;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition-duration: .3s;
  transition-property: all;
}

.site-header-small .heading-bottom .menu-top > div {
  width: 100%;
}

.site-header-small .heading-bottom .menu-top .sf-accordion-toggle{
  display: none;
}

.site-header-small .heading-bottom .menu-top #superfish-main-accordion{
  display: block !important;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.site-header-small .heading-bottom .menu-top ul.menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.site-header-small .heading-bottom .menu-middle ul:not(.contextual-links){
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 16px;
}

.site-header-small .heading-bottom .menu-top a,
.site-header-small .heading-bottom .menu-middle a{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 100ms;
  font-size: 17.5px;
  line-height: normal;
}

.site-header-small .heading-bottom a.is-active{
  color: #fff000;
}

.site-header-small .heading-bottom li.menuparent > ul{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0c1f2f;
  transition-property: opacity;
  transition-duration: 500ms;
  opacity: 1;
  overflow: auto;
}

.site-header-small .heading-bottom li.menuparent > ul a{
  display: block;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 400;
  font-size: 0.875rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
}

.site-header-small .heading-bottom .menu-bottom ul:not(.contextual-links){
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.site-header-small .heading-bottom .menu-bottom ul:not(.contextual-links) li:first-child{
  display: none;
}

.site-header-small .heading-bottom .menu-bottom ul:not(.contextual-links) a{
  font-weight: 700;
  font-size: .765625rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  /* font-size: 14px */
}

.site-header-small .heading-bottom .search-area .form-item input{
  width: 100%;
  height: 4rem;
  padding-left: 1.25rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
}

.site-header-small .heading-bottom .search-area .form-actions .button{
  font-size: 0px;
  width: 28px;
  height: 28px;
  background: url(../images/search-icon.png) no-repeat center center;
  background-size: 28px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 32px 28px;
  border: 0px;
  box-shadow: unset;
  cursor: pointer;
}

.site-header-small .heading-bottom #block-exposedformsearch-resultpage-1{
  width: 100%;
}

/* header small end */

/* responsive header */

@media (min-width: 1280px){
  .site-header .header-middle li:first-child{
    display: block;
  }
}

@media (min-width: 1024px){
  .site-header .header-middle ul:not(.contextual-links){
    margin-right: 1.25rem;
  }

  .site-header .header-bottom .logo-area a{
    position: absolute;
    right: 100%;
    padding: 0.21875rem;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }

  .site-header .header-bottom .menu-area a{
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .site-header .header-bottom .menu-area a.sf-depth-1{
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .site-header .header-top{
    font-size: .765625rem;
  }
}

@media (min-width: 768px){
}

@media (min-width: 1400px){
  .site-header .header-top{
    font-size: 13.125px;
    height: 30px !important;
  }

  .site-header .header-middle ul:not(.contextual-links){
    margin-right: 18.75px;
  }

  .site-header .header-middle li a,
  .site-header .header-right li a{
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .site-header .header-bottom {
    height: 60px !important;
  }

  .site-header .header-bottom .logo-area a {
    width: 90px;
    height: 90px;
    margin-right: 30px !important;
  }

  .site-header .header-bottom .menu-area a.sf-depth-1{
    padding-left: 18.75px;
    padding-right: 18.75px;
    font-size: 15px !important;
  }

  .site-header .header-bottom .menu-area a.sf-depth-1.sf-with-ul{
    padding-right: 45.25px;
  }

  .site-header ul.sf-menu .sf-sub-indicator,
  .site-header-small ul.sf-menu .sf-sub-indicator{
    width: 28px !important;
  }

  .site-header .header-bottom .menu-area li:first-child a.sf-depth-1 {
    padding-left: 20px;
  }

  .site-header .header-bottom .search-area .form-item input{
    width: 210px;
  }
}

@media (min-width: 1600px){
  .site-header .header-bottom .logo-area a {
    width: 105px;
    height: 105px;
  }
}

/* responsive header end */

.site-header ul.sf-menu.menu li ul li{
  background-color: #112d46;
}

.site-header ul.sf-menu.menu > li.sfHover > a{
  background-color: #112d46;
}

.site-header ul.sf-menu.menu ul{
  padding-top: 18px !important;
  padding-bottom: 10px !important;
  background-color: #112d46 !important;
}

.site-header ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  top: auto;
}

.site-header ul.sf-menu.menu ul li:last-child,
.site-header ul.sf-menu.menu ul{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: none !important;
}

.site-header ul.sf-menu.menu ul li:last-child{
  padding-bottom: 16px;
}

.site-header ul.sf-menu > li > a {
  /*padding: 1.5em 1em;*/
  color: #ffffff;
}

.site-header ul.sf-menu > li > ul > li > a {
  padding: .75em 1em;
}

.site-header ul.sf-menu .sf-with-ul {
  padding-right: 2em;
}

.site-header ul.sf-menu .sf-sub-indicator,
.site-header-small ul.sf-menu .sf-sub-indicator {
  background: url(../images/down.png) no-repeat 0;
  width: 21px;
}

.site-header ul.sf-menu .sfHover .sf-sub-indicator,
.site-header-small ul.sf-menu .sfHover .sf-sub-indicator {
  background: url(../images/up.png) no-repeat 0;
}

.site-header ul.sf-menu .sf-sub-indicator::after,
.site-header-small ul.sf-menu .sf-sub-indicator::after{
  content: none;
}


