/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
 @tailwind base;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 input {
   @apply border border-gray-500
 }
 
 .block,
 .node {
   @apply mb-4
 }
 
 .node__content p,
 .node__content ul,
 .node__content ol {
   @apply mb-4 leading-normal
 }
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  
  body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #fffffF;
    padding-top: 56px;
  }
  /*
  .header-top {
    background-color: #0068bb;
    padding-top: 5px;
    height: 30px !important;
  }
  .header-bottom {
    background-color: #164067;
    height: 57px !important;
 }*/
 section.upcoming-features .tw-container {
  max-width: 1160px !important;
}
  #maindiv {
    margin:auto;
    min-height:400px;
    padding-top:60px;
    padding-bottom:50px;
    overflow: hidden;		
  }
  #midcontent-area {
    width:100%;
    float:left;
    overflow:hidden;
  }
  #sidebar-first-area {
    width:24%;
    float:left;
  }
  #sidebar-second-area {
    width:24%;
    float:right;
  }
  body.sidebar-first #midcontent-area {
    width:74%;
    float:right;
  }
  body.sidebar-second #midcontent-area {
    width:74%;
    float:left;
  }
  body.Two-sidebars #midcontent-area {
    width:50%;
    float:left;
  } /*
  .footer{
    background-color: #f5f5f5;
  }
  .newsletter-area{
    background-color: #0068bb;
  } */

  
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17.5px;
  padding-right: 17.5px;
  max-width: 1200px;
}
@media (min-width: 768px){
  body {
    padding-top: 88px;
  }
}

@media (min-width: 1024px){
  .container {
      padding-left: 98px;
      padding-right: 98px;
      max-width: 1312px;
  }
}
@media (min-width: 1400px){
  .container {
      padding-left: 105px;
      padding-right: 105px;
  }
}
@media (min-width: 1500px){
  .container {
      max-width: 1420px;
  }
}