@media (min-width: 1919px){
    .path-search-result #content #views-exposed-form-search-result-page-1 .form-actions .button {
      top: 36px;
      height: 35px;
   }
}
@media (max-width: 1280px){

  /******* charter-petitions *********/
  .charter-petitions-list-wrap #maindiv .view-row{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 98px;
    margin-right: 98px;
  }
}
@media (max-width: 1023px){
  /*************** breadcrumb ******************/
  .charter-petitions-breadcrumb{
    padding: 0 18px !important;
  }

  /***************  front page *****************/
  .board-member-section{
    padding-left: 18px;
    padding-right: 18px;
  }
  .board-member-view.listing-view{
    margin: 0;
    margin-bottom: -6px;
    overflow: hidden;
  }
  .board-member-view.listing-view .views-row {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
  .about-the-board-secretariat .right-section,
  .about-the-board-secretariat .left-section{
    width: auto;
    float: unset;
  }
  .board-member-view.listing-view .views-field-field-upload-image,
  .Meet-the-board-of-education .left-section,
  .about-the-board-secretariat .left-section{
    width: 7rem;
    height: 163px;
  }
  .about-the-board-secretariat .left-section{
    width: auto;
  }
  .board-member-view.listing-view .views-field-field-upload-image img,
  .Meet-the-board-of-education .left-section img,
  .about-the-board-secretariat .left-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .board-member-view.listing-view .views-col-wrapper,
  .Meet-the-board-of-education,
  .about-the-board-secretariat{
    display: flex;
    border-radius: 5.25px;
    overflow: hidden;
  }
  .board-member-view.listing-view .box-bottom{
    width: 100%;
    padding: 14px 21px;
  }
  .board-member-view.listing-view .views-field-field-district,
  .board-member-view.listing-view .views-field-field-position{
    font-size: 10.5px;
  }
  .board-member-view.listing-view .views-field-title{
    font-size: 17.5px;
  }
  .board-member-view.listing-view  .views-field-field-name-1 a,
  .board-member-view.listing-view  .views-field-field-website-url a,
  .board-member-view.listing-view  .views-field-field-upload-map-pdf a {
      font-size: 11.375px;
  }
  .board-member-view.listing-view .views-field-title-wrapper{
    min-height: 47px;
  }
  .Meet-the-board-of-education,
  .about-the-board-secretariat{
    width: 100%;
    float: unset;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: unset;
  }

  /*************************** Document library ***************/
  .document-library-title-area {
    margin-right: 0rem !important; 
  }

  .document-library-view .views-field-field-description p {
    padding-right: 80px !important;
  }

  .wrapper-document-library-page-node #block-lausd-content .views-element-container {
    margin-bottom: 0rem !important;
  }
  /************* charter-petition ***************/
  .charter-petitions-list-wrap #maindiv .charter-petitions-select-list-section header {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    font-size: 13px !important;
    padding-top: 14px !important;
    overflow: hidden;
  }

  .charter-petitions-list-wrap #maindiv .charter-petitions-select-list {
      padding-left: 1.25rem !important;
      padding-right: 1.25rem !important;
  }
  .charter-petitions-list-wrap #maindiv .view-row{
    margin-left: 17.5px;
    margin-right: 17.5px;
  }

}
@media (max-width: 767px){
  /*******************front page *****************/
  .board-member-view.listing-view .views-row {
    width: 100%;
  }
  .explore-our-website-view .views-view-grid .views-col{
    width: 100% !important;
  }
  .about-the-board-secretariat .left-section{
    width: 100%;
    height: 100%;
  }
  .about-the-board-secretariat{
    display: block;
  }
  .about-the-board-secretariat .right-section{
    padding: 28px 17.5px;
  }
   .explore-our-website-view .views-view-grid .views-col{
    padding: 10.5px 0 !important;
  }
  .footer .footer-top ul {
    margin-bottom: 0rem !important; 
  }


  /***************** staff section *************/
  .staff-contacts .section-content .views-row{
      width: 100%;
  }
  .board-member-view h1.js-quickedit-page-title, 
  .board-member-view .faq-title-right {
    width: 100%;
    float: none;
    display: block;
    padding: 0px !important;
    margin-left: 10px !important;
}

  /***************** related pages section **********/
  .paragraph--type--related-pages {
    width: 100% !important;
    padding-right: 45px !important;
    max-width: 24em;
    padding-bottom: 15px !important;
  }

  /******************* faq, charter-petition, document library ****************/
  
  .path-faq #block-lausd-content .item-list {
    width: 100% !important;
    padding-bottom: 20px !important;
    max-width: 24em;
  }
  .path-faq #block-lausd-content .item-list:nth-child(1), 
  .path-faq #block-lausd-content .item-list:nth-child(4) {
    padding-bottom: 20px !important;
  }
  .document-library-view .views-col, 
  .document-library-title-area .document-library-title-right,
  .document-library-title-area h2.document-library-board-title,
  .path-charterpetitions .charter-petitions-select-list-section h1.js-quickedit-page-title,
  .faq-view h1.js-quickedit-page-title {
    width: 100% !important;
  }
  .document-library-title-area h2.document-library-board-title,
  .path-charterpetitions .charter-petitions-select-list-section h1.js-quickedit-page-title {
    padding: 0px !important;
  }
  .path-charterpetitions .charter-petitions-select-list-section .charter_petitions-title-right,
  .faq-view .faq-title-right {
    width: 100% !important;
    font-size: 14px;
    float: none;
  }
  .page-board .staff-contacts {
    margin-top: 2rem;
  }
  .faq-view header {
      padding-bottom: 25px !important;
  }
  .document-library-title-area {
    margin-bottom: 0 !important;
    padding-bottom:  0 !important;
  }
  .document-library-title-area h2.document-library-board-title,
  .document-library-title-area .document-library-title-right {
      padding-bottom: 25px;
  }
  .path-charterpetitions .charter-petitions-select-list-section .back-top-top {
    padding: 20px !important;
  }
  .path-charterpetitions #block-lausd-content .views-element-container {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .document-library-title-area {
    margin-left: 0px !important
  }
  .document-library-view .views-row {
    margin-bottom: 0px !important; 
  }
  .document-library-view .views-col { 
    margin-bottom: 30px;  
    max-width: 30em;
  }
  .page-node-type-document-library #block-lausd-content .views-element-container {
    margin-top: 35px;
  }

  .page-node-type-document-library .wrapper-document-library-page-node {
      padding-top: 20px;
  }

  .sticky {
    top: 56px !important;
  }
  .charter-petitions-list-wrap #maindiv .charter-petitions-select-list-section header {
      padding-left: 1.25rem !important;
      padding-right: 1.25rem !important;
      border-bottom: 0px !important;
      margin-bottom: 0px !important;
  }
  .charter-petitions-list-wrap #maindiv .charter-petitions-select-list {
      padding-left: 1.25rem !important;
  }
  .charter-petitions-list-wrap #maindiv .charter-petitions-select-list {
      padding-right: 0px !important;
  }

  .path-charterpetitions .charter-petitions-select-list-section .charter_petitions-title-right {
      float: none !important;
      font-size: 13px !important;
      padding-top: 35px !important;
  }
  .charter-petitions-list-wrap #maindiv .charter-petitions-select-list label {
      font-size: 11px;
  }
  .page-node-type-charter-petitions .material-left-pdf-section {
      width: 100% !important;
  }
  .page-node-type-charter-petitions .wrapper-material-section,
  .page-node-type-charter-petitions .material-right-section {
      width: 100% !important;
      display: block !important;
  }
  .page-node-type-charter-petitions .left-size-section {
      padding-left: 0 !important;
      width: auto;
      display: inline-block;
  }
  .page-node-type-charter-petitions .right-notes-section {
      width: auto;
      display: inline-block;
  }
  .page-node-type-charter-petitions .material-right-section .right-bottom-value {
      margin-right: 0px !important;
  }

  /****************** meeting page ****************/
  .page-node-type-meeting #maindiv{
    padding-bottom:0px;
  }

  #nextprev-navigation #month-meeting,
  #nextprev-navigation a{
    width: 100% !important;
    line-height: 15px !important;
    text-align: center;
  }
  #nextprev-navigation a{
    line-height: 30px;
    height: 54px !important;
  }
  #nextprev-navigation #prevnext-previous,
  #nextprev-navigation #prevnext-next{
    width: 50%;
  }
  #nextprev-navigation #month-meeting a{
    border-left: 1px solid #e0e0e0 !important;
    border-right: 1px solid #e0e0e0 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -1px;
  }
  #nextprev-navigation #prevnext-previous a{
    border-top-left-radius: 0;
    border-bottom-left-radius: 15px;
  }
  #nextprev-navigation #prevnext-next a{
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
  }
  /********** meeting section ********/
  .wrapper-meeting-section.Upcoming .bottom-middle-section h3 a{
    font-size: 14px;
  }
  .page-node-type-meeting .tw-font-medium.day {
      color: #bce1ff  !important;
  }
  .path-search-result #content #views-exposed-form-search-result-page-1,   
  .path-search-result #content #views-exposed-form-search-result-page-1 .js-form-type-textfield,  
  .path-search-result #content #views-exposed-form-search-result-page-1 .js-form-type-textfield input {
      width: 100%;
  }
  /******************** basic page 2 col paragraph ***********/
  .paragraph-two-column > div > div{
    width: 100%;
    padding: 10.5px 0;
  }
}
@media (max-width: 639px){
    
  /* meeting listing icons */
  .inner-meeting-section .agenda-icon,
  .inner-meeting-section .stream-icon{
    background: none !important;
    padding: 0 !important;
  }
}

