@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


h1, h2, h3, h4, h5, h6 {
	color: #212121;
    font-weight: bold;
    line-height: 1.6;	
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #212121;
    font-size: 1.3rem;
}
h2{
	font-size: 25px;
    line-height: 30px;
}
h3{
	font-size: 20px;
    margin-bottom: 25px;
}
h4{
	font-size: 15px;
    margin-bottom: 20px;
}
h1.page-header, 
h2.block-title {
	color: #0068bb;
	font-size: 30px;
    line-height: 35px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
}
.breadcrumb {
	background: transparent;
	border-radius: 0px;
	padding:0px;
}
.breadcrumb > li + li::before,
.breadcrumb a {
	color: #3056a5;
}
.breadcrumb > .active {
	color: #31b0d5 ;
}
a{
	color: #0068bb;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
a:hover,
a:focus{
	text-decoration: none;
    color:#047cdc;
    outline: none !important;
}
/*
a:focus{
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);    
}*/
a.active{
    color: #fff000;
}
p {
    font-family: 'Roboto', sans-serif !important;
    /* padding-bottom: 30px; */
}
.form-submitt{
	outline: none;
}
.button {
    cursor: pointer;
}
body.user-logged-in{
    margin-top: 80px;
}
/*mesage css*/
div[data-drupal-messages] {
    padding: 15px 20px 15px 35px;
    word-wrap: break-word;
    border: 1px solid #77b259;
    border-width: 1px 1px 1px 0;
    border-left: 8px solid #77b259;
    background-color: #f3faef;
    color: #325e1c;
    margin-bottom: 7px;
    background: url(../images/check.svg) no-repeat 10px;
}
.pager {
    text-align: center;
}
.pager ul.pager__items {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pager ul.pager__items>li {
    display: inline;
}
.pager ul.pager__items>li>a {
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    border: 1px solid #ddd;
}
.pager ul.pager__items>li.is-active>a{
    color: #fff;
    cursor: default;
    background-color: #164067;
    border-color: #164067;
}
.pager ul.pager__items>li:first-child>a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pager ul.pager__items>li:last-child>a{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pager ul.pager__items>li>a:hover,
.pager ul.pager__items>li>a:focus{
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
/*Tabs design*/
#block-lausd-local-tasks ul {
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 7px;
}
#block-lausd-local-tasks ul li {
    float: left;
    margin-right: 1px;
    padding: 5px 10px;
    background: #0068bb;
}
#block-lausd-local-tasks ul li a {
    color: #fff;
}
.contextual ul li a{
    color: #000000 !important;
}
img{
	max-width: 100%;
	height: auto;
}
.tw-btn-blue {
	color: #ffffff;
    background-color: #0068bb;
	border-color: #0068bb;
    border-radius: 25px !important;
    font-weight: bold;
    border:1px solid #047cdc ;
}
.tw-btn-blue a {
	color: #ffffff;
	font-size:15px;
	border-radius: 25px !important;
}
.tw-btn-blue:hover {
	background: #047cdc ;
    border:1px solid #047cdc ;
    color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
}
.tw-text-10px {
    font-size: 8.75px;
}
.tw-text-12px {
    font-size: .656255rem;
}
.svg-inline--fa {
    font-size: .70rem;
    margin-left: 3px;
    vertical-align: initial;
}
.views-field-edit-node {
	padding: 0px !important;
}
.views-field-edit-node a {
	position: absolute;
    padding: 2px 10px;
    color: #000000;
    background: #cccccc;
    z-index: 1;
}
.select-wrapper,
.form-control {
	border-radius: 0px;
}
.form-textarea {
	resize: none;
}
.tw-container {
    max-width: 1120px !important;
  }
.tw-py-15 {
    padding-top: 3.5rem ;
    padding-bottom: 4.5rem ;
}
.tw-py-17 {
    padding-top: 4.5rem ;
    padding-bottom: 4.5rem ;
}
.tw-cap h2,
#block-views-block-explore-our-website-block-1 > h2 {
    font-weight: 700;
    font-size: 12.25px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: .5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #212121;
}

#block-lausd-content > .description-box:empty{
    display: none;
}

/*header top css*/
/*
.header-top a {
    color: #fff;
}
.header-left {
    font-size: 13px;
}
.header-middle ul {
    float: right;
}
.header-middle ul li,
.footer-menu ul li {
    float: left;
    padding-right: 12px;
}
.header-middle ul li:first-child{
    font-size: 12px;
}
.header-middle ul li a{
    font-weight: bold;
    font-size: .875em;
}
.footer-menu ul li a{
    font-weight: bold;
}
.header-right ul{
	float: right;
}
.header-right ul li {
    float: left;
    padding-left: 12px;
}
.header-right ul li a {
    font-size: .875em;
    font-weight: 500;
}*/
/*logo css*/
/*
.logo-area {
    width: 63px;
    height: 63px;
    margin-left: -80px;
    margin-top: -3px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.5s ease;
}
.logo-area:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
}
.logo-area .tw-items-center {
    display: block !important;
    padding: 4px;
    height: 63px;
}*/
/*menu css*/
/*
ul.sf-menu.menu li ul li{
	background-color: #112d46;
}
ul.sf-menu.menu > li.sfHover > a{
    background-color: #112d46;
}
ul.sf-menu.menu ul{
    padding-top: 18px !important;
    padding-bottom: 10px !important;
    background-color: #112d46 !important;
}
ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
    top: auto;
}
ul.sf-menu.menu ul li:last-child,
ul.sf-menu.menu ul{
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: none !important;
}
ul.sf-menu > li > a {
	padding: 1.5em 1em;   
    color: #ffffff;    
	font-family: "Oswald", sans-serif !important;
}
ul.sf-menu > li > ul > li > a {
    padding: .75em 1em;
}
ul.sf-menu .sf-with-ul {
    padding-right: 2em;
}
ul.sf-menu .sf-sub-indicator {
    background: url(../images/down.png) no-repeat -3px;
}
ul.sf-menu .sfHover .sf-sub-indicator {
    background: url(../images/up.png) no-repeat -3px;
}
ul.sf-menu .sf-sub-indicator::after{
    content: none;
}
ul.sf-menu li a {
    color: #ffffff;
}
ul.sf-menu li a:hover{
	color:#bce1ff !important;
}
ul.sf-menu li.active-trail a {
    color: #fff000;
}*/
/*search css*/
/*
.search-area {
	position: relative;
    margin-top: 9px;
}*/
.search-area .views-exposed-form .js-form-type-textfield input {
    background-color: #112d46;
    height: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 3rem;
    width: 12.25rem;
	border-radius: 25px;
	border: 0px;
    outline: none;
    color: #bce1ff;
}
.views-exposed-form .js-form-type-textfield, 
.views-exposed-form .button {
    float: left;
    outline: none;
}
#block-exposedformsearch-resultpage-1 {
    width: 88%;
    float: right;
}/*
#block-exposedformsearch-resultpage-1 .form-actions input {
    font-size: 0px;
    width: 15px;
    background: url(../images/search-white.png) no-repeat;
    background-size: 12px;
    position: absolute;
    right: 18px;
    top: 15px;
    border: 0px;
    box-shadow: unset;
    cursor: pointer;
}*/
.description-box {
    padding-top: 50px;
}
.description-box p {
    padding-bottom: 25px;
}
#block-exposedformsearch-resultpage-1 label{
    display: none;
}
#block-exposedformsearch-resultpage-1-2 form#views-exposed-form-search-result-page-1 {
    padding-top: 15px;
    padding-bottom: 15px;
}
#block-exposedformsearch-resultpage-1-2 form#views-exposed-form-search-result-page-1 label{
    font-weight: bold;
}
#block-exposedformsearch-resultpage-1-2 form#views-exposed-form-search-result-page-1 input {
    height: 35px;
    padding: 0 10px;
}
/*search result css*/
.combine-search-view .views-row {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 25px;
}
.combine-search-view .views-field-title a {
    font-size: 1.3rem;
    margin-bottom: .75rem;
    display: block;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-duration: .2s;
}
/*board section css*/
.board-member-view.listing-view{
    overflow: hidden;
    margin: 0 6px;
}
/* .board-member-view.listing-view .views-view-grid .views-row {
    padding-left: 5.25px;
    padding-right: 5.25px;
} */
.board-member-view.listing-view .views-row {
    padding: 6px;
    width: 14.285714285714%;
    float: left;
}
.board-member-view.listing-view .views-col-wrapper {
    background: #f5f5f5;
}

.board-member-view.listing-view .views-field-field-district{
    font-size: 11px;
    color: #9e9e9e;
    font-weight: bold;
    text-transform: uppercase;
}
.board-member-view.listing-view .views-field-title {
    font-weight: 700;
    line-height: 1.10;
    font-size: 1.10rem;
}
.board-member-view.listing-view  .views-field-field-name-1 a,
.board-member-view.listing-view  .views-field-field-website-url a,
.board-member-view.listing-view  .views-field-field-upload-map-pdf a {
    font-size: .70rem;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    color: #757575;
}
.board-member-view.listing-view  .views-field-field-name-1 a:hover,
.board-member-view.listing-view  .views-field-field-website-url a:hover,
.board-member-view.listing-view  .views-field-field-upload-map-pdf a:hover{
    color: #047cdc;
}

.board-member-view.listing-view  .views-field-field-upload-image {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.board-member-view.listing-view  .views-field-field-position {
    text-transform: uppercase;
    font-size: 11px;
    color: #424242;
    font-weight: 700;
    min-height: 20px;
}

/*board bottom section css*/
#block-views-block-board-block-1-2 > h2,
#block-meettheboardofeducationfrontpage > h2,
#block-abouttheboardsecretariatfrontpage > h2{
    font-size: 14px;
    margin: 36px 0 18px;
    padding-bottom: 7px;
    border-bottom: 2px solid #212121;
    line-height: normal;
    text-transform: uppercase;
}
#block-views-block-board-block-1-2 > h2{
    margin-top: 0;
}
.Meet-the-board-of-education {
    width: 41.6%;
    float: left;
    margin-top: 2px;
    margin-left: 12px;
}
.Meet-the-board-of-education,
.about-the-board-secretariat {
    background: #f5f5f5;
    max-height: 143px;
    overflow: hidden;
    display: flex;
}
.Meet-the-board-of-education .left-section {
    /* width: 16%;
    float: left; */
}
.Meet-the-board-of-education .left-section img{
    width: 105px;
    height: 143px;
}
.Meet-the-board-of-education .right-section p {
    font-size: .70rem;
    text-transform: uppercase;
    color: #9e9e9e;
    font-weight: 700;
    padding-bottom: 0px;
}
.Meet-the-board-of-education .right-section span b {
    font-size: 1.20rem;
    line-height: 1.25;
    font-weight: 700;
}
.Meet-the-board-of-education .right-section {
    /*width: 84%;
    float: right;*/
    padding: 48px 20px;
}
.about-the-board-secretariat {
    width: 55.7%;
    float: right;
    margin-top: 2px;
    margin-right: 12px;
}
.about-the-board-secretariat .left-section img{
    width: 211px;
    height: 143px;
}
.about-the-board-secretariat .left-section {
    /*width: 31.75%;
    float: left;*/
}
.about-the-board-secretariat .right-section {
    /*width: 68%;
    float: right;*/
    padding: 20px 20px;
}
.about-the-board-secretariat .right-section span b{
    line-height: 1.25;
    font-weight: 700;
    font-size: 1.20rem;
    text-transform: capitalize;
}
.about-the-board-secretariat .right-section p{
    padding-bottom: 0px;
}
.about-the-board-secretariat .right-section .text {
    font-size: .70rem;
    margin-bottom: 10px;
}
.about-the-board-secretariat .right-section a {
    font-size: .70rem;
    color: #757575;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-duration: .2s;
}
.about-the-board-secretariat .right-section a:hover{
    color: #047cdc;
    cursor: pointer;
}
/*explore our website css*/
.explore-our-website-view .views-view-grid .views-col {
   padding: 21px 21px 21px 0;
}
.explore-our-website-view .views-field.views-field-body {
    max-width: 336px;
}
.explore-our-website-view .views-view-grid .views-field-field-link a {
    font-size: 1.3rem;
    margin-bottom: .75rem;
    display: block;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-duration: .2s;
}
.explore-our-website-view .views-view-grid .views-field-field-link a:hover,
.explore-our-website-view .views-view-grid .views-field-body ul li:hover{
    color:#047cdc;
    cursor: pointer;
}
.explore-our-website-view .views-view-grid .views-field-body ul{
    margin-top: 10px;
    padding-left: 15px;
}
.explore-our-website-view .views-view-grid .views-field-body ul li {
    text-decoration: underline;
    color: #0068bb;
    line-height: 1.375;
    font-weight: 400;
    padding-bottom: 2px;
    list-style: disc;
}
/*footer css*/
/*
.footer-top .tw-w-1\/3 h2{
    color: #212121;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    font-weight: 500;
    border-bottom:1px solid #e0e0e0 ;
    font-size: .75rem;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.footer-top .views-field-title a,
.footer-middle ul li a,
.footer-top .views-field-views-conditional-field a {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    line-height: 1.375;
    text-decoration: underline;
}
.footer-top .views-field-title a{
    font-weight: bold;
}
.footer .footer-top .footer-left {
    margin-left: 0px !important;
}
.footer .footer-top .footer-right{
    margin-right: 0px !important;
}
.footer-middle ul li a,
.footer-top .views-field-views-conditional-field a{
    color: #757575;
}
.footer-middle ul li a:hover,
.footer-top .views-field-views-conditional-field a:hover{
    color:#9e9e9e;
}
.footer-left ul{
    margin-bottom: 1.5rem;
}
.footer .footer-menu-copyright {
    font-size: .75rem;
    color: #757575;
    font-weight: 300;
}
.footer .copyright {
    text-align: right;
    font-size: .70rem;
}*/
/*newslatter cs*/
/*
.simplenews-subscriber-form {
    width: 100%;
    overflow: hidden;
}    
.newsletter-area .subscriber-form-message {
    float: left;
}
.simplenews-subscriber-form form {
    width: 345px;
    float: right;
}
.newsletter-area h2 {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.simplenews-subscriber-form .field--type-email label, 
.simplenews-subscriber-form .description {
    display: none;
}    
.simplenews-subscriber-form .form-actions {
    width: 120px;
    float: left;
}
.simplenews-subscriber-form .field--name-mail {
    width: 225px;
    float: left;
}
.simplenews-subscriber-form .form-actions {
    width: 120px;
    float: left;
}
.simplenews-subscriber-form .field--type-email input {
    width: 100%;
    height: 50px;
    color: #212121;
    padding: 0 15px;
    margin-right: 120px;
    border: 0px;
    outline: none;
}
.simplenews-subscriber-form .form-submit {
    height: 50px;
    background-color: #f5f5f5;
    width: 120px;
    color: #212121;
    font-weight: bold;
    border: 0px;
}*/
.page-node-type-document-library #maindiv {
    padding-top: 40px;
}
.wrapper-document-library-page-node .heading{
    overflow: hidden;
    
}
.document-library-title-area {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    margin-top: -0.5rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 0;
}
.document-library-title-area h2.document-library-board-title,
.board-member-view h1.js-quickedit-page-title,
.faq-view h1.js-quickedit-page-title {
    width: 33.5%;
    float: left;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 21px;
    color: #212121;
}
.board-member-view h1.js-quickedit-page-title,
.faq-view h1.js-quickedit-page-title{
    padding: 0px;
}
.document-library-title-area .document-library-title-right {
    width: 66.5%;
    float: right;
}
.document-library-view .views-row{
    margin-bottom: 50px;
}
.document-library-view .views-row:last-child{
    margin-bottom: 0px;
}
.document-library-view .views-field-field-link a {
    font-size: 1.3rem;
    margin-bottom: .75rem;
    display: block;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-duration: .2s;
}
.document-library-view .views-field-field-description p {
    padding-right: 180px;
}
.document-library-view .views-field-field-description ul {
    margin-top: 10px;
    padding-left: 15px;
}
.document-library-view .views-field-field-description ul li {
    text-decoration: underline;
    color: #0068bb;
    line-height: 1.375;
    font-weight: 400;
    padding-bottom: 2px;
    list-style: disc;
}
.document-library-view .views-field-field-description li a {
    font-weight: normal;
}

/*user login page css*/
.user-login-form {
    width: 50%;
    margin: auto;
    background: #e2e8f0;
    padding: 35px 25px;
    border-radius: 10px;
}
.user-login-form label{
    display: block;
}
.user-login-form input{
    height: 35px;
    padding: 0 12px;
}
.user-login-form .button {
    color: #fff;
    background-color: #0068bb;
    align-items: center;
    font-weight: 700;
    border-radius: 5px;
    --transform-translate-x: 0;
    --transform-translate-y: 0;    
}
.user-login-form .form-item {
    padding-bottom: 15px;
}
/*custom-1*/
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* components */

.cap {
    font-weight: 700;
    font-size: 12.25px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  .color-default{
    color: #212121;
  }
  
  .link {
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .2s;
  }
  
  .link-blue {
    color: #0068bb;
  }
  
  .link-blue-hover{
    color: #047cdc;
  }
  
  .btn {
    display: inline-flex;
    align-items: center;
    padding: .75rem 2rem;
    font-weight: 700;
    border-radius: 9999px;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
  }
  
  .btn-hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
  }
  
  .btn-blue-outline {
    color: #0068bb;
    border-width: 1px;
    border-color: #e0e0e0;
  }
  
  .btn-blue-outline-hover {
    color: #047cdc;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
  }
  
  .text-2xl{
    font-size: 21px
  }
  
  .text-12px {
    font-size: 10.5px;
  }
  
  .text-13px {
    font-size: 11.375px;
  }
  
  .mt-2px {
    margin-top: .125rem;
  }
  
  /* components end */
  
  /* board page */
  
  .page-board .board-title-area{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    margin-top: -0.5rem;
    padding-bottom: 2rem;
  }
  
  .page-board .board-title{
    width: 100%;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 21px;
    color: #212121;
  }
  
  .page-board .board-title-right{
    width: 100%;
    padding: 0.25rem;
  }
  
  .page-board .board-detail.card{
    display: flex;
    flex-direction: column;
    padding: 17.5px;
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity));
    border-radius: 0.5rem;
  }
  
  .page-board .board-image{
    width: 10rem;
    position: relative;
    --bg-opacity: 1;
    background-color: #4299e1;
    background-color: rgba(66, 153, 225, var(--bg-opacity));
    border-radius: 0.375rem;
    overflow: hidden;
    width: 8.5rem;
    height: 184px;
  }
  
  .page-board .board-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .page-board .board-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
  }
  
  .page-board .board-name{
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 0;
    color: #212121;
  }
  
  .page-board .board-district{
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 12.25px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160, 174, 192, var(--text-opacity));
  }
  
  .page-board .board-contact{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  
  .page-board .board-contact-item a{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .2s;
    color: #0068bb;
  }
  
  .page-board .board-contact-item a:hover{
    color: #047cdc;
  }
  
  .page-board .board-contact-item svg{
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.25rem;
    margin-right: 0.75rem;
  }
  .page-board .board-contact-item.phone svg{
    transform: rotate(90deg);
  }
  
  .page-board .staff-contacts{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  
  .page-board .section-title{
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 12.25px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-bottom-width: 2px;
    --border-opacity: 1;
    border-color: #1a202c;
    border-color: rgba(26, 32, 44, var(--border-opacity));
    color: #212121;
  }
  
  .page-board .section-content table{
    width: 100%;
  }
  
  .page-board .section-content table tr{
    display: flex;
    margin: -1.25rem;
  }
  
  .page-board .section-content table td{
    width: 50%;
    padding: 1.25rem;
  }
  
  .page-board .board-page-bottom{
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  
  .page-board .board-page-bottom .btn{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    padding: .75rem 2rem;
    font-weight: 700;
    border-radius: 9999px;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    color: #0068bb;
    border-width: 1px;
    border-color: #e0e0e0;
    font-weight: 700;
    font-size: 12.25px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    justify-content: center;
  }
  
  .page-board .board-page-bottom .btn:hover{
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
    color: #047cdc;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
  }
  
  /* board page end */
  
  /* contact page */  
  #block-lausd-page-title{
    overflow: hidden;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 28px;
    width: 100%
  }
  #block-lausd-content .views-element-container{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .page-node-type-document-library #block-lausd-content .views-element-container {
    margin-top: 70px;
    margin-bottom: 0;
  } 
  .path-search-result #block-lausd-content .views-element-container {
    margin-top: 15px;
    margin-bottom: 0;
  } 
  .path-contact #block-lausd-content .board-member-view {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
  }
  
  .path-contact #block-lausd-content .views-row{
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .path-contact #block-lausd-content footer{
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .board-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 17.5px;
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity));
    border-radius: 0.5rem;
  }
  .board-card span.contact-icon,
  .board-card .board-heading a{
    display: flex;
    align-items: center;
    margin-bottom: auto;
    background: url(../images/contact-phone.png) no-repeat left;
    background-size: 43px;
    background-position: 0% 50%;
    padding-left: 60px;
  }
  .board-card span.contact-icon {
    width: 45px;
    height: 35px;
    display: block;
  }
  footer .board-card .board-heading a {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    background: url(../images/warning-grey.png) no-repeat left;
    background-size: 30px;
    background-position: 0% 50%;
    padding: 4px 0px 4px 50px;
  }

    footer .board-card .board-heading a:hover {
        display: flex;
        align-items: center;
        margin-bottom: auto;
        background: url(../images/warning-blue.png) no-repeat left;
        background-size: 30px;
        background-position: 0% 50%;
        padding: 4px 0px 4px 50px;
    }

  /*
  .board-card .board-heading a svg{
    width: 2rem;
    height: 2rem;
    margin-top: .125rem;
    margin-right: 1rem;
    --text-opacity: 1;
    color: #4299e1;
    color: rgba(66, 153, 225, var(--text-opacity));
  }*/
  
  .board-card .board-heading .board-title-area {
    line-height: normal
  }
  
  .board-card .board-heading .board-title-area .district{
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    --text-opacity: 1;
    color: #9e9e9e;
    line-height: 16px;
  }
  
  .board-card .board-heading .board-title-area .name{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
    color: #212121;
  }
  
  .board-card .board-heading .board-title-area .position{
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    --text-opacity: 1;
    color: #9e9e9e;
    line-height: 16px;
  }
  
  .board-card .board-heading a:hover .name{
    --text-opacity: 1;
    color: #4299e1;
    color: rgba(66, 153, 225, var(--text-opacity));
  }
  
  .board-card .board-bio p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 11px;
    padding: 0;
    line-height: 17px;
  }
  
  .board-card .board-link-area a{
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: .2s;
    color: #757575;
    font-size: 11.375px;
    --text-opacity: 1;
  }

   .board-card .board-link-area a:hover {
        color: #047cdc;
    }

    .board-card .board-link-area a:active {
        color: #164067;
    }

  
  /* responsive */
  
  @media (min-width: 1024px) {
    #block-lausd-content .board-member-view{
      margin-left: -1.25rem;
      margin-right: -1.25rem;
    }
  
    .path-contact #block-lausd-content .views-row{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .path-contact #block-lausd-content .board-member-view{
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }
    #block-lausd-content footer{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
  
  @media (min-width: 768px) {
    .page-board .board-title-area{
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  
    .page-board .board-title{
      width: 50%;
      padding: 0.5rem;
    }
  
    .page-board .board-title-right{
      width: 50%;
      padding: 0.5rem;
    }
  
    .page-board .staff-contacts{
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    .page-board .board-page-bottom .btn{
      width: 33.333333%;
    }
  
    #block-lausd-content .views-element-container{
      margin-bottom: 5rem;
    }

    .path-contact #maindiv {
        padding-top: 0px;
    }

    .path-contact #block-lausd-page-title {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
  
    .path-contact #block-lausd-content .views-row{
      width: 33.333333%;
    }
  
    .board-card .board-heading a svg{
      width: 3rem;
      height: 3rem;
      margin-right: 1.25rem;
    }
  
    .path-contact #block-lausd-content footer{
      width: 66.666667%;
    }
  }
  
  @media (min-width: 640px) {
    .page-board .board-detail.card{
      flex-direction: row;
    }
  
    .page-board .board-info{
      margin-top: 0;
      margin-left: 2rem;
    }
  
    .page-board .board-contact{
      height: 4rem;
    }
  }
/*************Staff Section*****************/
.page-board .staff-contacts {
    margin-top: 5rem;
    margin-bottom: 0rem;
}
.staff-contacts .section-content {
    display: flex;
    flex-wrap: wrap;   
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    margin-left: -10.5px;
    margin-right: -10.5px;
}
.staff-contacts .section-content .views-row{
    padding: 10.5px;
    width: 33.33%;
}
.staff-contacts .whole-section {
    display: flex;
}
.staff-contacts .whole-section .section{
    display: inline-block;
    vertical-align: middle;
}
.staff-contacts .whole-section .fa-address-card{
    width: 2rem;
    height: 2rem;
    margin-right: 1.25rem;
    color: #4299e1;
	display: inline-block;
    vertical-align: middle;
}
.staff-contacts .whole-section  .position {
    font-weight: 700;
    font-size: 10.5px;
    text-transform: uppercase;
    --text-opacity: 1;
    color: #9e9e9e !important;
    color: rgba(160, 174, 192, var(--text-opacity));
}
.staff-contacts .name {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0;
    color: #212121;
}
.staff-contacts .phone a,
.staff-contacts .email a{
  display: flex;
}
.staff-contacts .phone,
.staff-contacts .email {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    line-height: 25px;
    text-decoration: underline;
    transition-duration: .2s;
    color: #0068bb;
}
.staff-contacts  .phone .svg-inline--fa {
    transform: rotate(90deg);
}
.staff-contacts  .email .svg-inline--fa,
.staff-contacts  .phone .svg-inline--fa {
    width: 1rem;
    height: 1rem;
    margin-top: 0.25rem;
    margin-right: 0.75rem;
}
.page-board .office-info {
    margin-top: 5rem;
}

/********** meeting node ******/
.page-node-type-meeting .meeting-body-data p{
    line-height: normal;
}
.video-audio-section .video-link-section a {
    font-weight: 700;
    text-decoration: underline;
}
.meet-the-team-listing-wrap #nextprev-navigation,
.page-node-type-meeting #nextprev-navigation{
    padding: 0 !important;
}
.page-node-type-meeting .no-meeting-image{
    background: url(../images/no-meeting.png) no-repeat center right;
    /* background-position: 93% 50%; */
    height: 40px;
    width: 120px;
    background-size: contain;
}

/*custom-2*/
  .wrapper-meeting-node {
    border-bottom: 1px solid #e0e0e0;
}
.wrapper-meeting-node .top-section {
    overflow: hidden;
    padding-bottom: 55px;
}
.wrapper-meeting-node .left-date-section {
    width: 160px;
    height: 130px;
    float: left;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
.wrapper-meeting-node span.day,
.wrapper-meeting-node span.date,
.wrapper-meeting-node span.month {
    display: block;
}
.wrapper-meeting-node span.day {
    font-size: 1.2rem;
    color: #9e9e9e;
    padding-top: .2rem;
    padding-bottom: .135rem;
    margin-top: .5rem;
    font-weight: 500;
}
.wrapper-meeting-node span.date {
    color: #424242;
    font-size: 2.5rem;
    padding-bottom: 1.75rem;
    padding-top: .75rem;
    font-weight: 700;
}
.wrapper-meeting-node span.month {
    letter-spacing: .1em;
    font-size: .7rem;
    padding-top: .30rem;
    background-color: #0068bb;
    display: block;
    padding-bottom: .35rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.Upcoming span.month {
    background-color: #0068bb;
}

.Completed span.month {
    background-color: #33959f;
}
.Completed .status span {
    background-color: #33959f;
}
.wrapper-meeting-node .right-content-section {
    width: 83%;
    float: right;
}
.Upcoming .status span {
    background-color: #0068bb;
}
.status span {     
        border-radius: 10px;
        font-weight: 700;
        line-height: 1.5;
        margin-right: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        color: #fff;
        font-size: .525rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding-left: .75rem;
        padding-right: .75rem;
}
.Upcoming .status span {
    background-color: #0068bb;
}
.wrapper-meeting-node .status ,
.wrapper-meeting-node .start-time {
    display: inline-block;
}
.wrapper-meeting-node .start-time  {
        color: #757575;
    
}
.wrapper-meeting-node .start-time span {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: .1em;
}
.wrapper-meeting-node .start-time svg {
    font-size: 0.7rem;
    margin-right: 3px;
}
.wrapper-meeting-node .node-title h3 {
    font-size: 1.3rem;
    margin-top: .75rem;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.375;
    color: #212121;
}
.wrapper-meeting-node .node-body {
    font-size: 0.9rem;
    display: block;
    color: #757575;
    margin-bottom: -.25rem;
    margin-top: .5rem;
    line-height: 1.5;
}
.path-contact div#block-lausd-page-title,
.page-node-type-faq div#block-lausd-page-title {
    margin-bottom: 50px;
}
.path-contact #block-lausd-page-title h1,
.path-faq #block-lausd-page-title h1 {
    color: #212121;
    font-size: 1.3rem;
    padding: .5rem;
    padding-left: 0px;
    width: 33.333333%;
    float: left;
}
.path-contact #maindiv,
.path-faq #maindiv {
    padding-top: 15px;
}
.faq-view header{
    padding-left: 0px !important;
    padding-bottom: 65px !important;
    border-bottom: 2px solid #e0e0e0 !important;
}
.board-member-view .faq-title-right,
.faq-view .faq-title-right{
    width: 60%;
    float: right;
    padding-top: 7px;
}
.path-contact .views-element-container,
.path-faq .views-element-container{
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
#block-lausd-content header {
    font-size: 15px;
    padding: .5rem;
    padding-top: 14px;
    margin-bottom: 65px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 40px;
}
.path-contact #block-lausd-content header,
.path-faq #block-lausd-content header {
    margin-bottom: 40px;
}
.path-contact #block-lausd-content .item-list h2,
.path-faq #block-lausd-content .item-list h2{
    font-size: 1.27rem;
    text-decoration: underline;
    margin-bottom: .75rem;
    display: block;
    font-weight: 700;
    line-height: 1.375;
}
#block-lausd-content .item-list h3 {
    margin-bottom: 10px;
}
#block-lausd-content .item-list p {
    max-width: 24em;
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    display: inline-block;
    line-height: 1.5;
}
#block-lausd-content .item-list .views-field-title a {
    text-decoration: underline;
    color: #0068bb;
}
#block-lausd-content .item-list {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 50px;
}
#block-lausd-content .item-list:nth-child(1),
#block-lausd-content .item-list:nth-child(4){
    padding-bottom: 0px;
}
#block-lausd-content .item-list ul li .views-field-title a::before {
    content: "\2022";
    color: #0068bb;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-right: 8px;
  }
  #block-views-block-meeting-meeting-block .views-row {
    margin-top: 0.5rem;
    overflow: hidden;
 }
#block-views-block-meeting-meeting-block footer {
    overflow: hidden;
    padding-top: 25px;
 }
 #block-views-block-meeting-meeting-block footer a {
    color: #fff;
    background-color: #0068bb;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 28.75px;;
    font-weight: 700;
    border-radius: 9999px;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
 }
 #block-views-block-meeting-meeting-block footer a:hover {
    background-color: #047cdc;
    display: inline-flex;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
 }
 .wrapper-meeting-section .left-date-section {
    width: 4.4rem;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    float: left;
 }
 .wrapper-meeting-section.Upcoming .left-date-section {
    background-color: #164067;
 } 
 .wrapper-meeting-section.Canceled .left-date-section {
    background-color: #424242;
 }
 .wrapper-meeting-section.Upcoming .middle-body-section {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    display: flex;
    border-left-width: 0;
    border-width: 1px;
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    width: 89%;
    float: right;
    height: 79px;
    max-height: 79px;
 }
 .wrapper-meeting-section.Canceled .middle-body-section {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    display: flex;
    border-left-width: 0;
    border-width: 1px;
    border-bottom-right-radius: .375rem;
    border-top-right-radius: .375rem;
    width: 89%;
    float: right;
    height: 79px;
    max-height: 79px;
 }
 .wrapper-meeting-section .left-date-section span:nth-child(1) {
    font-size: .70rem;
    padding-bottom: .125rem;
    margin-top: .5rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
 }
.wrapper-meeting-section.Upcoming .left-date-section span:nth-child(1) {
    color: #bce1ff;
 }
 .wrapper-meeting-section.Canceled .left-date-section span:nth-child(1) {
    color: #e0e0e0;
 }
 .wrapper-meeting-section .left-date-section span:nth-child(2) {
    color: #fff;
    font-size: 21px;
    padding-bottom: .5rem;
    padding-top: .25rem;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1;
    text-align: center;
 }
 .wrapper-meeting-section .left-date-section span:nth-child(3) {
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    padding-bottom: .125rem;
    line-height: 1;
    font-weight: bold;
    height: 1.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border-bottom-left-radius: .375rem;
    background-color: #0068bb;
    text-align: center;
 }
 .inner-meeting-section {
    display: flex;
}
 .wrapper-meeting-section.Canceled .left-date-section span:nth-child(3) {
    background-color: #757575;
 } 
 .wrapper-meeting-section.Upcoming .right-first-section {
    padding: 14px;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    padding-bottom: 0px;
    -webkit-box-direction: normal;
 }
 .wrapper-meeting-section.Upcoming .top-middle-section {
    font-size: 0.8rem;
    margin-bottom: .125rem;
    line-height: 1;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #212121;
    text-transform: uppercase;
 }
 .wrapper-meeting-section.Upcoming .bottom-middle-section h3 a {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-line-clamp: var(--line-clamp,2);
    overflow: hidden;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
 }
 /* .wrapper-meeting-section.Upcoming .bottom-middle-section h3 a:focus{
     box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);    
 } */
 
 .feature-link ul li a {
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    line-height: 1.375;
    text-decoration: underline;
}
.feature-link ul li:first-child a{
    padding-top: 0px;
}
 .wrapper-meeting-section.Upcoming .right-link-section {
    width: 140px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-direction: normal;
    border-left-width: 1px;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
 }
 .wrapper-meeting-section.Upcoming .right-link-section a {
    font-size: 11px;
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
 }
 .wrapper-meeting-section.Upcoming .bottom-middle-section h3 a:hover,
 .wrapper-meeting-section.Upcoming .right-link-section a:hover {
    color: #047cdc;
 }
 .page-node-type-meeting .meeting-node-wrapper p, 
 .page-node-type-meeting .tw-font-medium {
        color: #757575 !important;
    }

 .wrapper-meeting-section .top-middle-section svg {
    font-size: 11px;
    margin-right: 3px;
 } 
.wrapper-meeting-section.Canceled .right-first-section {
    padding: 14px;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    padding-bottom: 0px;
    -webkit-box-direction: normal;
 }
 .wrapper-meeting-section.Canceled .top-middle-section {
    font-size: 0.9rem;
    margin-bottom: .125rem;
    line-height: 1;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #212121;
    text-transform: uppercase;
 } 
 .wrapper-meeting-section.Canceled .bottom-middle-section h3 {
    color: #757575;
    line-height: 1.375;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
 } 
 .wrapper-meeting-section.Canceled .right-link-section {
    width: 8.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-direction: normal;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
 } 
 .calendar-listing .wrapper-meeting-section.Canceled .right-link-section span,
 .calendar-listing .wrapper-meeting-node.Canceled .right-content-section .status span,
 .upcoming-events .wrapper-meeting-section.Canceled .right-link-section span,
 .upcoming-events .wrapper-meeting-node.Canceled .right-content-section .status span{
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 9px;
    color: #fff;
    margin-left: 14px;
    margin-right: 14px;
    line-height: 1.5;
    align-self: flex-start;
    font-weight: 700;
    border-radius: 9999px;
    background-color: #757575;
 }
 .wrapper-meeting-node.Canceled .right-content-section .status span{
     margin-left: 0px;
 }
 #block-lausd-content .views-element-container{
     position: relative;
 }
 .faq-page-view header {
    position: absolute;
    top: -120px;
    right: 0;
    border: 0px !important;
 }
 .board-member-view h1.js-quickedit-page-title {
    margin-left: 20px !important;
  }
  .board-member-view header {
    width: 100%;
    border-bottom: 2px solid #e0e0e0 !important;
    padding-top: 20px !important;
    padding-bottom: 32px !important;
 }
 /*Next Prev Navigation*/
#nextprev-navigation {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-box;
    display: flex;
    /*padding-left: 7rem;
    padding-right: 7rem;*/
    max-width: 1312px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
 } 
 #nextprev-navigation .prevnext-element a {
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 2;
    order: 1;
    text-align: right;
    -webkit-box-pack: center;
    justify-content: center;
    color: #0068bb;
    border: 1px solid #e0e0e0;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .75rem 28px;
    font-weight: 700;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: inherit;
    background-color: transparent;
 } 
 #nextprev-navigation .prevnext-element a:hover {
    color: #047cdc;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
 } 
 #month-meeting a {
     border-left: 0px;
     border-right: 0px;
 } 
 #nextprev-navigation #month-meeting a.single-round-navigation {
    border-left: 1px solid #e0e0e0;
    border-radius: 60px;
    border-right: 1px solid #e0e0e0;
}
#nextprev-navigation #month-meeting a.single-round-navigation {
    border-left: 1px solid #e0e0e0;
    border-radius: 60px;
    border-right: 1px solid #e0e0e0;
    background-color: white;
    text-transform: capitalize;
    letter-spacing: unset;
    font-weight: bold;
    font-size: 14px;
}
#nextprev-navigation #prevnext-previous a {
    border-bottom-left-radius: 99999px;
    border-top-left-radius: 99999px;
    /*padding-left: 46px;
    background: url('../images/left.png') no-repeat center left;
    background-position: 28px 50%;*/
}
#nextprev-navigation #prevnext-previous a::before {
    content: "";
    width: 20px;
    height: 12px;
    background: url('../images/left.png') no-repeat center left;
}
#nextprev-navigation #prevnext-next a {
    border-bottom-right-radius: 99999px;
    border-top-right-radius: 99999px;
    /*padding-right: 46px;
    background: url('../images/right.png') no-repeat center right;
    background-position: right 28px top 50%;*/
}
#nextprev-navigation #prevnext-next a::after {
    content: "";
    width: 20px;
    height: 12px;
    background: url('../images/right.png') no-repeat center right;
}
body.meet-the-team-listing-wrap #nextprev-navigation .prevnext-element{
    width: 33.33%;
}
body.meet-the-team-listing-wrap #nextprev-navigation .prevnext-element a{
    width: 100%;
    height: 54px;
    padding: .75rem 26px;
}
body.meet-the-team-listing-wrap #nextprev-navigation #month-meeting a{
    text-align: center;
}
body.meet-the-team-listing-wrap #nextprev-navigation #prevnext-next a{
    text-align: left;
}
body.meet-the-team-listing-wrap #nextprev-navigation{
    
}
body.meet-the-team-listing-wrap #nextprev-navigation{
    
}
/********************************/
.wrapper-meet-the-people h3 {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 15px;
}
.wrapper-meet-the-people h3 a {
    text-decoration: underline;
}
.wrapper-meet-the-people p {
    color: #757575;
    padding-bottom: 0px;
}
.paragraph--type--related-pages {
    width: 33.33%;
    float: left;
    padding-right: 30px;
}
div#related-page-section {
    overflow: hidden;
    margin-top: 60px;
}
#related-page-section h4.section-title {
    border-bottom: 2px solid #212121;
    margin-bottom: 40px;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: .1em;
}
#related-page-content .paragraph--type--related-pages a {
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
}
#related-page-content .paragraph--type--related-pages ul li a {
   font-size: 14px;
   font-weight: 400;
   color: #0068bb;
   line-height: 1.375;
   text-decoration: underline;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
#related-page-content .paragraph--type--related-pages ul li a::before {
   content: "\2022";
   color: #0068bb;
   font-weight: bold;
   display: inline-block; 
   width: 1em;
   margin-right: 8px;
}
#related-page-content .paragraph--type--related-pages p {
    margin-top: 8px;
    margin-bottom: 5px;
}
.read-more-button {
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 2;
    order: 1;
    text-align: right;
    -webkit-box-pack: center;
    justify-content: center;
    color: #0068bb;
    border-width: 1px;
    border-color: #e0e0e0;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 24px;
    font-weight: 600;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    font-size: 12px;
    line-height: 1.25;
    text-decoration: inherit;
    background-color: transparent;
    border-radius: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.read-more-button:hover {
    color: #047cdc;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    --transform-translate-y: -0.125rem;
}
.single-round-navigation {
    border-width: 1px !important;
    border-radius: 60px;
}
.wrapper-material-section,
.material-right-section {
    display: flex;
}
.wrapper-material-section {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: .75rem;
    border-width: 1px;
    border-radius: .5rem;
    border-color: #e0e0e0;
    line-height: 1.5;
}
.material-left-pdf-section {
    display: block;
    width: 72%;
}
.material-left-pdf-section a {
    padding: 20px 0px 23px 25px;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    display: block;
    width: auto;
    text-transform: capitalize;
}
.material-left-pdf-section a:hover{
   color: #047cdc;
   text-decoration: underline;
}
.material-right-section {
    width: 36%;
    margin-left: auto;
    flex-wrap: nowrap;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
    padding-top: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: #f5f5f5;
    line-height: 1.5;
}
.material-right-section .right-top-value{
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 10px;
    color: #9e9e9e;
    font-weight: 700;
}
.material-right-section .right-bottom-value{
    padding-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 11px;
    color: #616161;
    font-weight: 700;
}
.left-size-section {
    padding-left: .75rem;
    padding-right: .75rem;
}
.material-section-title h4.section-title {
    margin-bottom: 5px !important;
}

.page-node-type-meeting .material-section .file a {
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 40px;
    background: url('../images/pdf-icon.png') no-repeat left;
    background-size: 24px;
    background-position: 0% 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* charter petitions */


.charter-petitions-list-wrap #maindiv {
    max-width: 100%;
    padding: 30px 0px;
}

.charter-petitions-list-wrap #maindiv header {
    padding-left: 98px !important;
    padding-right: 98px !important;
}

.charter-petitions-list-wrap #maindiv header,
.charter-petitions-list-wrap #maindiv .view-row {
    max-width: 1312px;
    margin: auto;
    padding-left: 98px;
    padding-right: 98px;
}
.charter-petitions-list-wrap #maindiv .view-row{
    padding-top: 60px;
    position: relative;
}

.charter-petitions-list-wrap #maindiv .charter-petitions-select-list-section .views-element-container {
    background: #f5f5f5;
}

.charter-petitions-list-wrap #maindiv .charter-petitions-select-list {
    background: none;
    max-width: 1312px;
    margin: auto;
    padding-left: 98px;
    padding-right: 98px;
}

.path-charterpetitions #block-lausd-page-title {
    overflow: hidden;
    border-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
}
.path-charterpetitions #block-lausd-content .charter-petitions-select-list-section header {
    font-size: 15px;
    padding: .5rem;
    padding-top: 14px;
    margin-bottom: 65px;
    border-bottom: 0px solid #e0e0e0;
    padding-bottom: 40px;
}
.path-charterpetitions .charter-petitions-select-list-section h1.js-quickedit-page-title {
    width: 40%;
    float: left;
    padding: 0.5rem;
    padding-left: 0;
    font-weight: 700;
    font-size: 21px;
    color: #212121;
}
.path-charterpetitions .charter-petitions-select-list-section .charter_petitions-title-right {
    width: 60%;
    float: right;
    padding-top: 7px;
}
.path-charterpetitions select#charter-petitions-select {
    border: 1px solid #e0e0e0;
    padding: 5px 35px 5px 16px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    margin-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url('../images/down-arrow.png') #fff no-repeat right !important;
    background-size: 23px !important;
    background-position: 70% 50% !important;
}
.path-charterpetitions .charter-petitions-select-list {
    background: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
}
.path-charterpetitions .charter-petitions-select-list-section h3 {
    border-bottom: 2px solid #212121;
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 1173px;
    max-width: 1120px;
}
.path-charterpetitions .charter-petitions-select-list-section .views-field-title span a {
    text-decoration: underline;
    display: block;
}
.path-charterpetitions .charter-petitions-select-list-section .back-top-top {
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
}
.path-charterpetitions .charter-petitions-select-list-section .back-top-top {
    padding-left: 22px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .1em;
    color: #0068bb;
    cursor: pointer;
    background: url('../images/up-arrow.png') no-repeat left;
    background-size: 18px;
    background-position: 0% 45%;
    margin: 40px 0px 50px;
}

.path-charterpetitions .charter-petitions-select-list-section h3.sticky {
    border-bottom: 2px solid #212121;
}

.sticky {
  position: fixed !important;
  top: 85px !important;
  width: 100%;
  background: #ffffff;
  max-width: 1120px;
}


/******************** search page **********************/


.path-search-result #content #views-exposed-form-search-result-page-1 .js-form-type-textfield label {
    display: block;
}

.path-search-result #content #views-exposed-form-search-result-page-1 {
    overflow: hidden;
    position: relative;
    width: 498px;
}

.path-search-result #content #views-exposed-form-search-result-page-1 .js-form-type-textfield, 
.path-search-result #content #views-exposed-form-search-result-page-1 .button {
    float: left;
    outline: none;
}

.path-search-result #content #views-exposed-form-search-result-page-1 .js-form-type-textfield input {
    border: 1px solid #e0e0e0;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    width: 468px;
    border-right: 0px !important;
}


.path-search-result #content #views-exposed-form-search-result-page-1 .form-actions .button {
    font-size: 0px;
    background: url(../images/search-white.png) #174067 no-repeat center;
    background-size: 15px;
    position: absolute;
    right: 0px;
    top: 36px;
    border: 0px;
    box-shadow: unset;
    padding: 17px !important;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    height: 35px;
}

/*********************************************************/


/* custom-2 end */

/*************** breadcrumb *****************/

body.breadcrumb-nospace #maindiv {
    padding-top: 0px;
}
.charter-petitions-breadcrumb {
    max-width: 1312px;
    margin: auto;
    padding-left: 98px !important;
    padding-right: 98px !important;
}

body.charter-petitions-list-wrap #block-lausd-content .views-element-container {
    margin-top: 0;
}

.breadcrumb ol.tw-my-8 {
    margin-top: 1.75rem !important;
}
.breadcrumb ol li {
    position: relative;
    color: #212121;
}
.breadcrumb ol li a {
    margin-right: 29px;
    color: #757575;
    transition: all 0.5s ease;
}
.breadcrumb ol li a:hover {
    color: #0068bb;
}
.breadcrumb ol li .seprater {
    width: 8px;
    height: 8px;
    color: #bdbdbd;
    position: absolute;
    right: 12px;
    bottom: 0;
    top: 0;
    margin: auto;
    transition: all .5s ease;
    border-bottom: 2px solid #bdbdbd;
    transform: rotate(-45deg);
    border-right: 2px solid #bdbdbd;
    display: inline-block;
    vertical-align: middle;
}

/*************** breadcrumb end *************/

/* meeting listing icons */
.Upcoming a .agenda-icon{
    background: url(../images/agenda-icon-blue.png) no-repeat left;
    background-size: contain;
    padding-left: 22px;
}
.Upcoming a:hover .agenda-icon{
    background: url(../images/agenda-icon-blue-2.png) no-repeat left;
    background-size: contain;
}
.video-audio-section a .stream-icon,
.Upcoming a .stream-icon{
    background: url(../images/stream-icon-blue.png) no-repeat left;
    background-size: contain;
    padding-left: 22px;
}
.video-audio-section a .stream-icon {
    padding-left: 25px !important;
}
.video-audio-section .video-link-section {
    padding-left: 0px !important;
}
.video-audio-section a:hover .stream-icon,
.Upcoming a:hover .stream-icon{
    background: url(../images/stream-icon-blue-light.png) no-repeat left;
    background-size: contain;
}
.Completed a .agenda-icon{
    background: url(../images/agenda-icon-green.png) no-repeat left;
    background-size: contain;
    padding-left: 22px;
}
.Completed a:hover .agenda-icon{
    background: url(../images/agenda-icon-green-light.png) no-repeat left;
    background-size: contain;
}
.Completed a .stream-icon{
    background: url(../images/video-icon-green.png) no-repeat left;
    background-size: contain;
    padding-left: 22px;
}
.Completed a:hover .stream-icon{
    background: url(../images/video-icon-green-light.png) no-repeat left;
    background-size: contain;
}

/******************** basic page 2 col paragraph ***********/

.paragraph-two-column > div > div{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 21px;
}
.paragraph-two-column > div > div:nth-child(odd){
    padding-left: 0;
}
.paragraph-two-column > div > div:nth-child(even){
    padding-right: 0;
}
.paragraph--type--document-library > div:first-child{
    font-size: 1.3rem;
    margin-bottom: .75rem;
    display: block;
    color: #0068bb;
    font-weight: 700;
    line-height: 1.375;
    text-decoration: underline;
    transition-duration: .2s;
}
.paragraph--type--document-library > div:last-child{
    max-width: 336px;
}
.paragraph--type--document-library p{
    margin-bottom: 7px;
}
.paragraph--type--document-library ul {
    margin-top: 7px;
    list-style: none;
    padding-left: 16px;
}
.paragraph--type--document-library ul li::before {
    content: "\2022";
    color: #0068bb;
    font-weight: bold;
    float: left;
    width: 1em;
    margin-left: -1em;
  }
.paragraph--type--document-library ul li p{
    margin: 0;
}
.paragraph--type--document-library ul li a{
    text-decoration: underline;
}