{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


 {% set bytes = file_url(paragraph.field_upload_pdf.entity.filesize.value)|split('/')|last %}
 {% set pdf_filename = paragraph.field_upload_pdf.entity.filename.value %}
 {% set pdf_uri = file_url(paragraph.field_upload_pdf.entity.uri.value) %}

	{% set kilobyte = 1024 %}
	{% set megabyte = kilobyte * 1024 %}
	{% set gigabyte = megabyte * 1024 %}
	{% set terabyte = gigabyte * 1024 %}

	{% set file_size = '' %}
	{% if bytes < kilobyte %}
	   {% set file_size = bytes ~ ' B' %}
	{% elseif bytes < megabyte %}
	   {% set file_size = (bytes / kilobyte)|number_format(2, '.') ~ ' kb' %}
	{% elseif bytes < gigabyte %}
	   {% set file_size = (bytes / megabyte)|number_format(2, '.') ~ ' mb' %}
	{% elseif bytes < terabyte %}
	   {% set file_size = (bytes / gigabyte)|number_format(2, '.') ~ ' gb' %}
	{% else %}
	   {% set file_size = (bytes / terabyte)|number_format(2, '.') ~ ' tb' %}
	{% endif %}



<div class='wrapper-material-section'>
   <div class='material-left-pdf-section'><a href="{{ pdf_uri }}" target="_blank">{{ pdf_filename }} </a></div>

   <div class='material-right-section'>
        <div class='left-size-section'>
            <div class='right-top-value size-title'>Size</div>
            {% if file_size is not empty %}
                <div class='right-bottom-value material-size-section'>{{file_size}}</div>
            {% else %}
                <div class='right-bottom-value material-size-section'>Not available</div>
            {% endif %}
        </div>
        <div class='right-notes-section'>
            <div class='right-top-value notes-title'>Notes</div>
            <div class='right-bottom-value material-note-section'>{{content.field_notes}}</div>
        </div>
   </div>
   
</div>