{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


<div id='nextprev-navigation'>
	<div id='prevnext-previous' class='prevnext-element previous'>
		{{ content.field_previous_link }}
	</div>
    <div id='month-meeting' class='prevnext-element'>
      {{ content.field_return_to_link }}
    </div>
		<div id='prevnext-next' class='prevnext-element next'>
			{{ content.field_next_link }}
		</div>
</div>
