/* components  override & custom*/
.footer h2,
.newsletter-area h2{
  color: inherit;
}
.bg-blue-500{
  background-color: #0068bb !important;
}
.bg-blue-800 {
  background-color: #164067 !important;
}
.bg-blue-900 {
  background-color: #112d46 !important;
}
.bg-blue-1000 {
  background-color: #0c1f2f !important;
}
.text-base {
  font-size: 14px;
}
.text-sm{
  font-size: 12.25px;
}
.text-xs {
  font-size: 10.5px;
}


.w-18 {
  width: 4.5rem;
}
.h-18 {
  height: 4.5rem;
}
.p-2px {
  padding: .125rem;
}
.right-full {
  right: 100%;
}
.h-11 {
  height: 2.75rem;
}
.pr-15 {
  padding-right: 3.75rem;
}
.-ml-15 {
  margin-left: -3.75rem;
}
.text-yellow{
  color: #fff000;
}

/****************/
.text-12px {
  font-size: .75rem;
}
.cap {
  font-weight: 700;
  font-size: 12.25px;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.link-blue {
  color: #0068bb;
}
.link-blue-hover {
  color: #047cdc;
}
.link-gray {
  color: #757575;
}
.link-gray-hover {
  color: #9e9e9e;
}
.link {
  font-weight: 700;
  line-height: 1.375;
  text-decoration: underline;
  -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.tw-btn-blue {
  color: #fff;
  background-color: #0068bb;
}
.tw-btn {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 7px 21px !important;
  font-weight: 700;
  border-radius: 9999px;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  -webkit-transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,-webkit-transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
  transition-timing-function: cubic-bezier(0,0,.2,1);
}
/* end */

.footer h1, .footer h2, .footer h3 {
  font-size: inherit;
  font-weight: inherit;
}
.footer h1, .footer h2, .footer h3, .footer hr, .footer p {
  margin: 0;
}


/* footer css */
.footer .footer-top h2{
  @apply w-full pb-2 cap font-medium border-b border-gray-300;
  font-size: 12.25px;
}
.footer .footer-top ul{
  @apply my-6;
}

.footer .footer-left ul li a{
  @apply block py-2 link link-blue;
  font-size: 14px;
}
.footer .footer-left ul li a:hover{
  @apply link-blue-hover;
  
}
.footer .footer-left footer a{
  font-size: 14px;
}
.footer .footer-middle ul li a,
.footer .footer-right ul li a{
  @apply block py-2 link link-gray font-normal;
  font-size: 14px;
}
.footer .footer-middle ul li a:hover,
.footer .footer-right ul li a:hover{
  @apply link-gray-hover;
}


.footer .footer-bottom .footer-menu ul:not(.contextual-links){
  @apply flex-shrink-0 flex justify-between;
}
.footer .footer-bottom .footer-menu ul li:first-child{
  @apply font-light text-sm text-gray-600;
  font-size: 10.5px;
}
.footer .footer-bottom .footer-menu a{
  @apply mx-2 link link-blue no-underline text-sm;
}
.footer .footer-bottom .footer-menu a:hover{
  @apply link-blue-hover;
}
.footer .copyright p{
  @apply font-light text-sm text-gray-600;
  font-size: 10.5px;
  padding: 0;
}
.newsletter-area .simplenews-subscriber-form{
  @apply block -m-3;
}
.newsletter-area .subscriber-form-message{
  @apply  m-3;
}
.newsletter-area form{
  @apply m-3;
}
.newsletter-area form label,
.newsletter-area form .description{
  @apply hidden;
}
.newsletter-area form input.form-email{
  @apply px-5 py-4 text-xl text-gray-900 appearance-none w-full;
  padding: 14px 17.5px;
  border: none;
}
.newsletter-area form .form-actions input{
  @apply px-8 py-4 font-bold text-gray-900 bg-gray-100;
  padding: 14px 28px;
  height: 50px;
  background-color: #f5f5f5;

  font-weight: bold;
  border: 0px;
  font-size: 14px;
  width: 100%;
}
.newsletter-area form .form-actions input:hover{

}
.newsletter-area h2 {
  @apply font-bold text-2xl;
  font-size: 21px;
}
.newsletter-area .form-item-message {
  @apply font-light;
  font-size: 14px;
}

/* footer css end */



/* responsive footer */
@screen xl{
  
}
@screen lg{
  
}
@screen md{
  .footer .footer-bottom .footer-menu ul li:first-child{
    @apply text-12px mr-5;
  }
  .footer .copyright{
    @apply ml-auto text-12px;
  }
  .newsletter-area .simplenews-subscriber-form{
    @apply flex;
  }
  
  .newsletter-area form input.form-email{
    @apply text-base;
    margin-left: 20px;
    width: 224px !important;
    
  }
  .newsletter-area form .form-actions input{
    height: 50px;
  }
}
@screen sm{
  .newsletter-area form input.form-email{
    width: 240px !important;
  }
  .newsletter-area form{
    @apply flex;
  }
}

@media (min-width: 1060px){
  .newsletter-area .subscriber-form-message{
    @apply  w-8/12;
  }
  .footer .footer-bottom{
    margin-top: 21px !important
  }
}
@media (min-width: 1400px){
  .footer .footer-top h2{
    font-size: 13.125px;
  }
  .footer .footer-left ul li a,
  .footer .footer-middle ul li a,
  .footer .footer-right ul li a{
    font-size: 15px;
  }
  .footer .footer-left footer a.tw-btn{
    font-size: 15px;
    padding: 7.5px 22.5px;
  }
  .footer .footer-bottom .footer-menu a{
    font-size: 13.125px;
  }
  .newsletter-area{
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }
  .newsletter-area h2{
    font-size: 22.5px;
    line-height: 36px;
  }
  .newsletter-area .form-item-message{
    font-size: 15px;
  }
  .newsletter-area form .form-actions input,
  .newsletter-area form input.form-email{
    height: 52.22px;
    font-size: 15px;
  }
}
@media (max-width: 767px){
  .footer .footer-bottom .footer-menu ul li:first-child{
    position: absolute;
    top: -28px;
    left: 10px;
  } 
}

/* responsive footer end */
