/* components  override & custom*/
header a{
	color: inherit;
}
header p{
  padding: 0;
}

.bg-blue-500{
  background-color: #0068bb !important;
}
.bg-blue-800 {
  background-color: #164067 !important;
}
.bg-blue-900 {
  background-color: #112d46 !important;
}
.bg-blue-1000 {
  background-color: #0c1f2f !important;
}

.text-base {
  font-size: 0.875rem;
}
.text-sm{
  font-size: .765625rem;
}
.text-xs {
  font-size: 0.65625rem;
}

.w-18 {
  width: 3.9375rem;
}
.h-18 {
  height: 3.9375rem;
}
.p-1 {
  padding: 0.21875rem;
}
.p-2px {
  padding: .125rem;
}
.right-full {
  right: 100%;
}
.h-11 {
  height: 2.75rem;
}
.pr-15 {
  padding-right: 3.75rem;
}
.-ml-15 {
  margin-left: -3.75rem;
}
.text-yellow{
  color: #fff000;
}
.px-2 {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
}
.px-4 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

/* end */
body.user-logged-in .site-header{
  margin-top: 80px;
}
.site-header h1, .site-header h2, .site-header h3 {
  font-size: inherit;
  font-weight: inherit;
}
.site-header h1, .site-header h2, .site-header h3, .site-header hr, .site-header p {
  margin: 0;
  padding: 0;
}

.site-header a:hover,
.site-header-small a:hover{
  color: #bce1ff !important;
}

.site-header .menu-area ul li a.calandar-mobile{
  display: none !important;
}
.site-header-small .menu-top ul li a.calandar-dektop{
  display: none !important;
}

/* header css */
/*
.site-header{
  @apply hidden w-full h-16 fixed z-10 top-0 left-0
}
.site-header .header-top{
  @apply h-8 font-bold text-xs leading-none whitespace-no-wrap text-white bg-blue-500;
}
.site-header .header-top-wrapper{
  @apply flex items-center h-full;
}
.site-header .header-left{
  @apply mr-auto;
}
*/
.site-header .header-top{
  @apply text-xs;
}
.site-header .header-left span{
  @apply font-light;
}

.site-header .header-middle ul:not(.contextual-links){
  @apply  flex mr-2;
}
.site-header .header-middle li:first-child{
  @apply hidden mr-2 font-light;
}
.site-header .header-middle li a{
  @apply px-2 transition-colors duration-200;
}
.site-header .header-middle li a:hover{
  @apply text-blue-100;
}
.site-header .header-right ul:not(.contextual-links){
  @apply flex;
}

.site-header .header-right li a{
  @apply flex items-center h-full px-2 transition-colors duration-200;
}
.site-header .header-right li:not(:first-child) a{
  margin-right: -5px;
}
.site-header .header-right a:hover{
  @apply text-blue-100;
}
.site-header .header-right a svg{
  @apply block ml-2;
  width: 10.5px;
  height: 10.5px;
}
.site-header .header-bottom svg,
.site-header-small .header-bottom svg,
.site-header-small .menu-middle svg{
  @apply ml-2;
}
/*
.site-header .header-bottom{
  @apply h-16 font-bold text-base leading-none whitespace-no-wrap text-white bg-blue-800 shadow-md;
}
.site-header .header-bottom-wrapper{
  @apply flex h-full;
}*/

.site-header .header-bottom .logo-area a{
  @apply w-18 h-18 mr-6 p-2px bg-white rounded-full shadow-md ease-out transition duration-300;
  margin-right: 21px !important;
  height: 63px;
  width: 63px;
}
.site-header .header-bottom .logo-area a{

}
.site-header .header-bottom .logo-area a:hover{
  @apply shadow-xl scale-105;
}
.site-header .header-bottom .logo-area a img{
  margin-top: 2px;
  margin-left: 0.5px;
}
.site-header .header-bottom .menu-area #block-mainnavigation{
  @apply h-full;
}
.site-header .header-bottom .menu-area ul.sf-main{
  @apply block h-full;
  display: flex !important;
}
.site-header .header-bottom .menu-area a{
  @apply flex items-center h-full px-3 transition-colors duration-200;
}
.site-header .header-bottom .menu-area a.is-active{
  @apply text-yellow;
}
.site-header .header-bottom .menu-area a.sf-depth-1{
  @apply flex items-center h-full px-3 ease-out transition-colors duration-200;
  padding-left: 10.5px;
  padding-right: 10.5px;
}
.site-header .header-bottom .menu-area li:first-child a.sf-depth-1{
  padding-left: 16px;
}
.site-header .header-bottom .menu-area a.sf-depth-1.sf-with-ul {
  padding-right: 38px;
}
.site-header .header-bottom .menu-area a:hover{
  @apply text-blue-100;
}
.site-header .header-bottom .menu-area li.menuparent > ul{
  display: block;
}
.site-header .header-bottom .search-area form{
  position: relative;
}
.site-header .header-bottom .search-area .form-item input{
  @apply  w-56 h-11 pl-5 pr-15 font-light text-base rounded-full bg-blue-900;
  background-color: #112d46;
  height: 2.5rem;
  width: 12.25rem;
  border: 0px;
}
.site-header .header-bottom .search-area .form-item input::-webkit-input-placeholder{color:#8cb8dc}
.site-header .header-bottom .search-area .form-item input:-ms-input-placeholder{color:#8cb8dc}
.site-header .header-bottom .search-area .form-item input::-ms-input-placeholder{color:#8cb8dc}
.site-header .header-bottom .search-area .form-item input::placeholder{color:#8cb8dc}

.site-header .header-bottom .search-area .form-actions .button{
  font-size: 0px;
  width: 15px;
  height: 15px;
  background: url(../images/search-white.png) no-repeat;
  background-size: 12px;
  position: absolute;
  right: -5px;
  top: 15px;
  border: 0px;
  box-shadow: unset;
  cursor: pointer;
}
.site-header .header-bottom .search-area .form-actions .button:hover{
  @apply  text-yellow;
}


/* header css end */

/* header small */

.site-header-small .logo-area *{
  @apply w-full h-full;
}
.site-header-small .logo-area a.tw-mr-2{
  margin: 0 !important;
}
.site-header-small .logo-area a img{
  padding: 2px;
  margin: 0;
}
.site-header-small .site-title span{
  @apply block;
}
.h-r-small{
  padding: 20px 12px 12px 28px !important;
}
.site-header-small .heading-right .menu-open{
  opacity: 1;
  text-align: center;
}
.site-header-small .heading-right .menu-close{
  text-align: center;
}
.site-header-small .heading-bottom{
  top: 100%;
  visibility: hidden;
}
.site-header-small .heading-bottom .menu-top > div {
  width: 100%;
}
.site-header-small .heading-bottom .menu-top .sf-accordion-toggle{
  display: none;
}
.site-header-small .heading-bottom .menu-top #superfish-main-accordion{
  display: block !important;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.site-header-small .heading-bottom .menu-top ul.menu{
  @apply flex flex-col h-full py-5 font-bold text-xl;
}
.site-header-small .heading-bottom .menu-middle ul:not(.contextual-links){
  @apply flex flex-col h-full font-bold text-xl;
  line-height: 16px;
}
.site-header-small .heading-bottom .menu-top a,
.site-header-small .heading-bottom .menu-middle a{
  @apply flex items-center h-full px-5 py-3 transition-colors duration-200;
  font-size: 17.5px
}
.site-header-small .heading-bottom a.is-active{
  @apply text-yellow; 
}
.site-header-small .heading-bottom li.menuparent > ul{
  @apply py-4 bg-blue-1000 transition-opacity duration-500 opacity-100;
  overflow: auto;
}

.site-header-small .heading-bottom li.menuparent > ul a{
  @apply block px-5 py-3 font-normal text-base transition-colors duration-200; 
}

.site-header-small .heading-bottom .menu-bottom ul:not(.contextual-links){
  @apply flex-shrink-0 flex justify-between; 
}
.site-header-small .heading-bottom .menu-bottom ul:not(.contextual-links) li:first-child{
  display: none;
}
.site-header-small .heading-bottom .menu-bottom ul:not(.contextual-links) a{
  @apply font-bold text-sm transition-colors duration-200;
  /* font-size: 14px */
}
.site-header-small .heading-bottom .search-area .form-item input{
  @apply w-full h-16 pl-5 text-xl bg-transparent;
  border: none;
}

.site-header-small .heading-bottom .search-area .form-actions .button{
  font-size: 0px;
    width: 28px;
    height: 28px;
    background: url(../images/search-white.png) no-repeat center center;
    background-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px 28px;
    border: 0px;
    box-shadow: unset;
    cursor: pointer;
}
.site-header-small .heading-bottom #block-exposedformsearch-resultpage-1{
  @apply w-full;
}



/* header small end */



/* responsive header */

@screen xl{
  .site-header .header-middle li:first-child{
    @apply block;
  }
}
@screen lg{
  .site-header .header-middle ul:not(.contextual-links){
    @apply  mr-5;
  }
  .site-header .header-bottom .logo-area a{
    @apply absolute right-full p-1 transform;
  }
  .site-header .header-bottom .menu-area a{
    @apply px-4;
  }
  .site-header .header-bottom .menu-area a.sf-depth-1{
    @apply px-4;
  }
  .site-header .header-top{
    @apply text-sm;
  }
}
@screen md{
  
}

@media (min-width: 1400px){
  .site-header .header-top{
    font-size: 13.125px;
    height: 30px !important;
  }
  .site-header .header-middle ul:not(.contextual-links){
    margin-right: 18.75px;
  }
  .site-header .header-middle li a,
  .site-header .header-right li a{
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .site-header .header-bottom {
    height: 60px !important;
  }
  .site-header .header-bottom .logo-area a {
    width: 90px;
    height: 90px;
    margin-right: 30px !important;
  }
  .site-header .header-bottom .menu-area a.sf-depth-1{
    padding-left: 18.75px;
    padding-right: 18.75px;
    font-size: 15px !important;
  }
  .site-header .header-bottom .menu-area a.sf-depth-1.sf-with-ul{
    padding-right: 45.25px;
  }
  .site-header ul.sf-menu .sf-sub-indicator,
  .site-header-small ul.sf-menu .sf-sub-indicator{
    width: 28px !important;
  }
  .site-header .header-bottom .menu-area li:first-child a.sf-depth-1 {
    padding-left: 20px;
  }
  .site-header .header-bottom .search-area .form-item input{
    width: 210px;
  }
}
@media (min-width: 1600px){
  .site-header .header-bottom .logo-area a {
    width: 105px;
    height: 105px;
  }
}

/* responsive header end */

.site-header ul.sf-menu.menu li ul li{
  background-color: #112d46;
}

.site-header ul.sf-menu.menu > li.sfHover > a{
  background-color: #112d46;
}

.site-header ul.sf-menu.menu ul{
  padding-top: 18px !important;
  padding-bottom: 10px !important;
  background-color: #112d46 !important;
}

.site-header ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  top: auto;
}

.site-header ul.sf-menu.menu ul li:last-child,
.site-header ul.sf-menu.menu ul{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: none !important;
}
.site-header ul.sf-menu.menu ul li:last-child{
  padding-bottom: 16px;
}

.site-header ul.sf-menu > li > a {
  /*padding: 1.5em 1em;*/
  color: #ffffff;
}

.site-header ul.sf-menu > li > ul > li > a {
  padding: .75em 1em;
}

.site-header ul.sf-menu .sf-with-ul {
  padding-right: 2em;
}

.site-header ul.sf-menu .sf-sub-indicator,
.site-header-small ul.sf-menu .sf-sub-indicator {
  background: url(../images/down.png) no-repeat 0;
  width: 21px;
}

.site-header ul.sf-menu .sfHover .sf-sub-indicator,
.site-header-small ul.sf-menu .sfHover .sf-sub-indicator {
  background: url(../images/up.png) no-repeat 0;
}

.site-header ul.sf-menu .sf-sub-indicator::after,
.site-header-small ul.sf-menu .sf-sub-indicator::after{
  content: none;
}


